.members, .search {
	margin-bottom: 12px;
}
.member {
	margin-bottom: 6px;
}
.search .state {
	margin-top: 8px;
}
.avatar {
	min-width: 32px;
	height: 32px;
	margin-right: 8px;
}
.username {
	margin-right: 8px;
	flex-wrap: wrap;
}
.member-btn, .show {
	@extend %light-bg;
	box-sizing: border-box;
	justify-content: unset;
	border-radius: 4px;
	width: 100%;
}
.member-btn {
	padding: 6px;
	&:hover {
		background-color: #298FCA;
		color: white;
	}
	&:active {
		background-color: darken(#298FCA, 6%)
	} 
}
.show {
	@extend %c4;
	@extend %dark-hover;
	@extend %darker-active;
	text-decoration: underline;
	padding: 8px 12px;
}