.s-title {
	@extend %c8c;
	letter-spacing: .5px;
	font-size: .85rem;
	margin-bottom: 6px;
}
.members, .search {
	margin-bottom: 12px;
}
.member {
	@extend %c8c;
	margin-bottom: 6px;
}
.search .state {
	margin-top: 8px;
}
.avatar {
	min-width: 32px;
	height: 32px;
	margin-right: 8px;
}
.username {
	margin-right: 8px;
	flex-wrap: wrap;
}
.member-btn {
	@extend %light-bg;
	box-sizing: border-box;
	justify-content: unset;
	border-radius: 4px;
	width: 100%;
	padding: 6px;
	&:hover {
		background-color: #298FCA;
		color: white;
	}
	&:active {
		background-color: darken(#298FCA, 6%)
	} 
}
.invite-people {
	@extend %c8c;
	@extend %text-hover;
	@extend %dark-hover;
	@extend %darker-active;
	line-height: 1.5rem;
	padding: 6px 12px;
	text-decoration: underline;
	border-radius: 3px;
}