.input-group {
	margin-bottom: 12px;
}
.items {
	display: flex;
	flex-wrap: wrap;
	color: white;
}
.item {
	position: relative;
	border-radius: 3px;
	margin: 4px; 
	&:hover .c-btn {
		background-color: rgba(255,255,255,.3);
	}
	&:active .c-btn {
		background-color: rgba(255,255,255,.6);
	}
}
.green {
	background-color: #0079BF;
}
.c-btn {
	min-width: 48px;
	height: 40px;
}