<head>
	<title>trello</title>
</head>

<body>
	<div class="loading-cover"><img src="/loaders/bars.svg"></div>
	<div id="app"></div>
	
	<script>
		setTimeout(function() {
			document.querySelector('.loading-cover').style.display = 'none'
		}, 3000)
	</script>
</body>
