<template>
	<div class="wrapper">
		<div class="content">
			<div class="alert" v-if="message.length > 0 && !check">
				{{message}}
			</div>
			<h1>Forget your password ?</h1>
			<div class="message" v-if="check">
				<i class="fas fa-check-circle fa-2x"></i>
				{{message}}
			</div>
			<span v-if="check">if you don't recieve an email in while seconds <a href="#" @click.prevent="check = false; message = ''">try again</a></span>
			<div v-if="!check">
				<p class="info">Submit your email address and we’ll send you a link to reset your password.</p>
				<form @submit.prevent="sendResetPasswordEmail">
					<div class="input-group">
						<label for="email">Email</label>
						<input type="text" placeholder="e.g john.doe@work.com" v-model="email">
					</div>
					<button type="submit" href="#" class="btn green" :class="{loading}" :disabled="loading">
						Submit
					</button>
				</form>		
				<span>
					Psst … If it's any help, Trello requires that passwords be at least 8 characters long and does not require you to include numbers or uppercase letters. If that jogs your memory, you can <a href="#" @click.prevent="$router.push('/login')">try logging in again.</a>
				</span>
			</div>
		</div>
	</div>
</template>

<script>
	import {Accounts} from 'meteor/accounts-base'

	export default {
		data(){
			return {
				email: '',
				message: '',
				check: false,
				loading: false
			}
		},
		meteor: {
			$subscribe: {
				users: []
			}
		},
		beforeRouteEnter(to , from , next){
			!Meteor.userId() ? next() : next('dashboard') 
		},
		methods: {
			sendResetPasswordEmail(){
				this.loading = true
				Accounts.forgotPassword({
					email: this.email
				} , (err) => {
					this.email = ''
					this.loading = false
					if (!err) {		
						this.message = 'We have sent you an email to reset your password please check Your inbox'
						this.check = true
					}
					else{
						this.message = err.reason
						this.check  = false
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import "/imports/ui/sass/message";
	@import "/imports/ui/sass/auth";
	h1 {
		margin-bottom: 30px !important;
	}
</style>