<template>
	<div class="wrapper">
		<div class="content">
			<div class="alert" v-if="message.length > 0">
				{{message}}
			</div>
			<h1>Reset Your Password</h1>
			<form @submit.prevent="resetPassword">	
				<div class="input-group">			
					<label for="password">New Password</label>
					<input type="password" v-model="password">
				</div>	
				<div class="input-group">			
					<label for="password">Confirm Password</label>
					<input type="password" :class="{'error' : message.length > 0}" v-model="confirmPassword">
				</div>				
				<button type="submit" href="#" class="btn green">Save</button>
			</form>		
		</div>
	</div>
</template>

<script>
	import { Accounts } from 'meteor/accounts-base' 
	export default {
		data(){
			return {
				password: '',
				confirmPassword: '',
				message: ''
			}
		},
		computed:{
			isConfirmed(){
				return this.password === this.confirmPassword
			}
		},
		meteor:{
			$subscribe: {
				users : [],
			}
		},
		watch:{
			'$subReady.users'(value){
				console.log(value)
				if (value) {
					let tokenOwner = Meteor.users.findOne({'services.password.reset.token' : this.$route.params.token})
					if(!tokenOwner){
						this.$router.push('/login')
					}
				}
			}
		},
		methods:{
			resetPassword(){	
				if (this.isConfirmed) {
					Accounts.resetPassword(this.$route.params.token, this.password, (err) => {
						if (!err) {
							this.$router.push('/dashboard')
						}
					})
				}
				else{
					this.message = 'Password does not match the confirm password.'
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/auth";

.disabled {
	cursor: no-drop;
	border: 1px solid #ffffff !important;
  background: #a0a0a0 !important;
  color: #efefef !important;
}
</style>