<template>
	<div class="wrapper">
		<div class="content">
			<div class="alert" v-if="errors.state">
				{{errors.message}}
			</div>
			<h1>Set Your Password</h1>
			<form @submit.prevent="setPassword">
				<div class="input-group" v-if="$subReady.users">
					<label for="email">Email</label>
					<input type="text" disabled class="disabled" v-model="user.services.google.email">
				</div>		
				<div class="input-group">			
					<label for="password">Password</label>
					<input type="password" placeholder="e.g , ........." :class="{'error' : errors.message.length > 0}" v-model="password">
				</div>				
				<button type="submit" href="#" class="btn green">Save</button>
			</form>		
		</div>
	</div>
</template>

<script>
	import { Accounts } from 'meteor/accounts-base' 
	export default {
		data(){
			return {
				password: '',
				errors: {
					state: false,
					message: ''
				}
			}
		},
		meteor:{
			$subscribe: {
				users : [],
			},
			user(){
				return Meteor.user()
			}
		},
		watch:{
			'$subReady.users'(value){
				if (value) {
					if (this.user) {
						if (this.user.services.password) {
							this.$router.push('/dashboard')
						}
					}
					else{
						this.$router.push('/login')
					}
				}
			}
		},
		methods:{
			setPassword(){				
				Meteor.call('setNewPassword' , this.password , (err) => {
					if (!err) {
						this.$router.push('/dashboard')
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/auth";

.disabled {
	cursor: no-drop;
	border: 1px solid #ffffff !important;
  background: #a0a0a0 !important;
  color: #efefef !important;
}
</style>