<template>
	<div>
		<div class="dd-title">Add Checklist</div>
		<div>
			<div class="input-group">
				<label>Title</label>
				<input class="input normal">
			</div>
			<div>
				<label>Copy Items From…</label>
				<select name="(none)">
					<option>Checklist 1</option>
					<option>Checklist 2</option>
					<option>Checklist 3</option>
					<option>Checklist 4</option>
				</select>
				<div class="form-actions">
					<button class="submit-btn">Add</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.input-group {
	margin-bottom: 8px;
}
</style>