<template>
	<div>
		<div class="dd-title">Add Members</div>
		<div>
			<div class="search">
				<input type="text" class="input normal" placeholder="e.g. taco@trello.com">
				<div class="state">No results</div>
			</div>
			<div class="members">
				<span class="s-title">SELECT TO ADD</span>
				<ul>
					<li class="member" v-for="i in 2">
						<button class="member-btn">
							<Avatar>AY</Avatar>
							<span class="username">Alaa Eldeen Ysr (alaaeldeenysr)</span>
							<i class="fa fa-check"></i>
						</button>
					</li>
				</ul>
			</div>
			<hr>
			<p class="c8c">Search for a person in Trello by name or email address, or enter an email address to invite someone new.</p>
			<hr>
			<button class="invite-people">Invite people by giving them a special link…</button>
			<hr>
		</div>
	</div>
</template>

<script>
	import Avatar from "../Avatar.vue"
	export default {
		components: {
			Avatar,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/dropdowns/add-members-board-dd";
</style>