<template>
	<div>
		<div class="dd-title">Add Members</div>
		<div>
			<div class="search">
				<input placeholder="Search members" class="input normal">
				<div v-if="'t'" class="state">No results</div>
			</div>
			<div class="members">
				<div class="header">
					<span class="s-title">BOARD MEMBERS</span>
				</div>
				<ul>
					<li class="member" v-for="i in 2">
						<button class="member-btn">
							<Avatar>AY</Avatar>
							<span class="username">Alaa Eldeen Ysr (alaaeldeenysr)</span>
							<i class="fa fa-check"></i>
						</button>
					</li>
				</ul>
			</div>
			<button v-if="'t'" class="show">Show other team members…</button>
			<div v-if="''">
				<div class="header">
					<span class="s-title">TEAM MEMBERS</span>
				</div>
				<div v-if="''" class="state">No results</div>
				<ul>
					<li class="member" v-for="i in 2">
						<button class="member-btn">
							<Avatar>AY</Avatar>
							<span class="username">Alaa Eldeen Ysr (alaaeldeenysr)</span>
							<i class="fa fa-check"></i>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import Avatar from "../Avatar.vue"
	export default {
		components: {
			Avatar,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/dropdowns/add-members-card-dd";
</style>