<template>
	<div>
		<div class="dd-title">Attach From…</div>
		<div>
			<button class="bh-btn">Computer</button>
			<hr>
			<div>
				<label>Attach a link</label>
				<input class="input normal">
				<div class="form-actions"><button class="submit-btn">Attach</button></div>
			</div>
			<hr>
		</div>
	</div>
</template>