<template>
	<div>
		<div class="dd-title">Board Members</div>
		<BoardMembers></BoardMembers>
	</div>
</template>

<script>
	import BoardMembers from "../BoardMembers.vue"
	export default {
		components: {
			BoardMembers,
		}
	}
</script>

<style lang="scss" scoped>
.members {
	padding-bottom: 8px;
}
</style>