<template>
	<div>
		<div class="dd-title">Member</div>
		<div>
			<user></user>
			<ul>
				<li>
					<button class="bh-btn">Change permissions…
						<span class="admin c8c">(Admin)</span>
					</button>
				</li>
				<li>
					<button class="bh-btn">View Member’s Board Activity</button>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import Member from "../Member.vue"
	export default {
		components: {
			Member,
		}
	}
</script>

<style lang="scss" scoped>
.admin {
	font-weight: normal;
}
</style>