<template>
	<div>
		<div class="dd-title">Change Permissions</div>
		<div>
			<ul>
				<li>
					<button class="bh-btn">
						<span>Admin</span>
						<i class="fa fa-check checked"></i>
						<p>Can view and edit cards, remove members, and change all settings for the board.</p>
					</button>
				</li>
				<li>
					<button disabled class="bh-btn">Normal
						<p>Can view and edit cards. Can change some board settings.</p>
					</button>
				</li>
			</ul>
			<hr>
			<p class="c8c">You can’t change roles because there must be at least one admin.</p>
		</div>
	</div>
</template>