<template>
	<div>
		<div class="dd-title">Change Visibility</div>
		<ul>
			<li>
				<button class="bh-btn">
					<span class="private"><i class="fas fa-lock"></i></span>
					<span>private</span>
					<span class="checked"><i class="fa fa-check"></i></span>
					<p>The board is private. Only people added to the board can view and edit it.</p>
				</button>
			</li>
			<li>
				<button class="bh-btn">
					<span class="c9"><i class="fas fa-user"></i></span>
					<span>Team</span>
					<span class="checked"><i class="fa fa-check"></i></span>
					<p>The board is visible to members of the for team.  Only people added to the board can edit it.</p>
				</button>
			</li>
			<li>
				<button class="bh-btn">
					<span class="global"><i class="fas fa-globe"></i></span>
					<span>Public</span>
					<span class="checked"><i class="fa fa-check"></i></span>
					<p>The board is public. It's visible to anyone with the link and will show up in search engines like Google.  Only people added to the board can edit it.</p>
				</button>
			</li>
		</ul>
	</div>
</template>

<style lang="scss" scoped>
.private {
	color: #eb5a46;
}
.global {
	color: #61bd4f;
}
</style>