<template>
	<div>
		<div class="dd-title">Change Team</div>
		<form>
			<div class="input-group">
				<label>This board is part of…</label>
				<select>
					<option>Personal Boards (no team)</option>
					<option v-for="i in 3">the team</option>
				</select>
			</div>
			<div class="form-actions">
				<button class="submit-btn">Change</button>
				<button class="create-team c8c">Create Team</button>
			</div>
		</form>
	</div>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
.create-team {
	@extend %text-hover;
	text-decoration: underline;
}
</style>