<template>
	<div>
		<div class="dd-title">Change Name and Bio</div>
		<form>
			<div class="input-group">
				<label>Full Name</label>
				<input class="input normal">
			</div>
			<div class="input-group">
				<label>Initials</label>
				<input class="input normal">
			</div>
			<div class="input-group">
				<label>Username</label>
				<input class="input normal">
			</div>
			<div class="input-group">
				<label>Bio</label>
				<textarea class="input normal"></textarea>
			</div>
			<div class="form-actions"><button class="submit-btn">Save</button></div>
		</form>
		<hr>
		<p class="c8c">Your initials are used in place of your avatar if your avatar is not set. Usernames require a minimum of 3 characters, alphanumeric only.</p>
	</div>
</template>

<style lang="scss" scoped>
.input.fox {
	max-height: 100px;
}
.input-group {
	margin-bottom: 12px;
}
</style>