<template>
	<div>
		<div class="dd-title">Create Label</div>
		<div>
			<div class="input-group">
				<label>Name</label>
				<input class="input normal">
			</div>
			<div>
				<label>Select a color</label>
				<ul class="items">
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
					<li class="item green"><button class="c-btn"><i class="fas fa-check"></i></button></li>
				</ul>
				<div class="form-actions"> 
					<button class="submit-btn">Save</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/dropdowns/create-label-dd";
</style>