<template>
	<div>
		<div class="dd-title">Rename Board</div>
		<form>
			<label>Name</label>
			<input class="input normal" type="text">
			<div class="form-actions">
				<button class="submit-btn">Rename</button>
			</div>
		</form>
	</div>
</template>