<template>
	<div>
		<div class="dd-title">Team</div>
		<ul>
			<li>
				<button class="bh-btn">
					<span>Change Team…</span>
				</button>
			</li>
			<li>
				<button class="bh-btn">
					<span>View Team Page</span>
				</button>
			</li>
			<hr>
			<li>
				<button class="bh-btn">
					<span>Upgrade to Business Class</span>
				</button>
			</li>
		</ul>
	</div>
</template>