<template>
	<div class="activity">
		<div class="header">
			<div>
				<span class="mi"><i class="fas fa-signature"></i></span>
				<span class="m-title">Activity</span>
			</div>
			<div>
				<button v-if="'t'" class="s-btn">Hide Details</button>	<!-- v-if -->
				<button v-if="''" class="s-btn">Show Details</button>	<!-- v-else -->
			</div>
		</div>
		<ul class="items">
			<li class="item" v-for="i in 3">
				<div class="user">
					<Avatar>SB</Avatar>
				</div>
				<div class="content">
					<div class="details">
						<span class="relative">
							<button class="doer">Alaa Eldeen Ysr</button>
						</span>
						changed the due date of this card to yesterday at 12:00 PM.
						<div>
							<button class="when">yesterday at 10:19 PM</button>
						</div>
					</div>
					<div v-if="'t'" class="comment"> <!-- v-if -->
						<div v-if="'t'"> <!-- v-if -->
							<p class="comment-text">Alaa</p>
							<div>
								<button class="s-btn edit">Edit</button>
								<span class="dash">-</span>
								<span class="relative">
									<button class="s-btn delete">Delete</button>
								</span>
							</div>
						</div>
						<div v-if="''"> <!-- v-else -->
							<textarea class="input ready">Alaa</textarea>
							<div class="form-actions">
								<div>
									<button class="submit-btn">Save</button>
									<button class="cancle"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div v-if="'t'" class="attachment"> <!-- v-else -->
						<img class="img" src="../assets/tiger.jpg">
						<div>
							<button class="s-btn reply">Reply</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
	import Avatar from "./Avatar.vue"
	export default {
		components: {
			Avatar,
		},
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import '/imports/ui/sass/board/activity';
</style>