<template>
	<div class="add-comment">
		<div class="header">
			<span class="mi"><i class="far fa-comment"></i></span>
			<span class="m-title">Add Comment</span>
		</div>
		<div class="container">
			<Avatar>AY</Avatar>
			<div class="comment-form">
				<textarea placeholder="Write a comment" class="input ready"></textarea>
				<div class="form-actions">
					<div><button disabled class="submit-btn">Save</button></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Avatar from './Avatar'
	export default {
		components: {
			Avatar,
		}
	}
</script>

<style lang="scss" scoped>
.avatar {
	min-width: 32px;
	height: 32px;
	margin-bottom: 8px;
	margin-right: 8px;
	cursor: unset;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.comment-form {	
	flex-grow: 1;
}
.mi {
	margin-left: 8px;
	margin-right: 8px !important;
}
</style>