<template>
	<div class="attachments">
		<div class="header">
			<span class="mi"><i class="fas fa-paperclip"></i></span>
			<span class="m-title">Attachments</span>
		</div>
		<div>
			<ul class="items">
				<li class="item" v-for="i in 3">
					<button class="open">
						<div class="img"></div>
						<div class="details">
							<span class="item-title">pexels-photo-164175.jpeg</span>
							<div>
								<div>
									<span class="space">Added</span>
									<span class="">August 2, 2018 3:05 AM</span>
									<span class="dash">-</span>
									<button class="s-btn">Comment</button>
									<span class="dash">-</span>
									<span class="relative">
										<button class="s-btn">Delete</button>
									</span>
								</div>
								<button class="s-icon-btn covering">
									<i class="fas fa-desktop"></i>
									<span v-if="'t'" class="make">Make Cover</span>		<!-- v-if -->
									<span v-if="''" class="remove">Remove Cover</span>	<!-- v-else -->
								</button>
								<button class="s-icon-btn"><i class="fas fa-share-square"></i></button>
							</div>
						</div>
					</button>
				</li>
			</ul>
			<div class="relative">
				<button class="add">Add an attachment…</button>
			</div>
		</div>
	</div>
</div>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import '/imports/ui/sass/board/attachments';
</style>