<template>
	<button class="avatar">
		<slot></slot>
		<div class="hover"></div>
	</button>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/avatar";
</style>