<template>
	<div class="board starred">
		<div class="header"><Toolbar></Toolbar></div>
		<div class="content">
			<ul class="lists">
				<List v-for="i in 1"></List>
			</ul>
		</div>
	</div>
</template>

<script>
	import Toolbar from "./Toolbar.vue"
	import List from "./List.vue"
	export default {
		components: {
			Toolbar,
			List,
		},
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/board";
</style>