<template>
	<ul class="members">
		<li class="member" v-for="i in 10">
			<avatar>AE</avatar>
			<span class="admin"></span>
		</li>
		<slot></slot>
	</ul>
</template>

<script>
	import Avatar from "./Avatar.vue"
	export default {
		components: {
			Avatar,
		},
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/board-members";
</style>