<template>
	<div class="card-data">
		<div class="hr">
			<div class="header"><span class="s-title">MEMBERS</span></div>
			<CardMembers>
				<li class="relative">
					<button class="add-member"><i class="fas fa-plus"></i></button>
				</li>
			</CardMembers>
		</div>
		<div class="hr">
			<div class="header"><span class="s-title">LABELS</span></div>
			<Labels>
				<li class="relative">
					<button class="add-label"><i class="fas fa-plus"></i></button>
				</li>
			</Labels>
		</div>
		<div class="due-date">
			<div class="header"><span class="s-title">DUE DATE</span></div>
			<div class="relative">
				<button class="change-date completed">
					<span class="hover"></span>
					<button class="checkbox">
						<span class="hover"></span>
						<i class="fas fa-check"></i>
					</button>
					<span class="date-time">
						<span>Aug 22 at 12:00 PM</span>
						<span class="past-padge">(past due)</span>
					</span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	import CardMembers from "./CardMembers.vue"
	import Labels from "./Labels.vue"
	export default {
		components: {
			CardMembers,
			Labels,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import '/imports/ui/sass/board/card-data';
</style>