<template>
	<ul class="members">
		<li class="member" v-for="i in 2">
			<avatar>AE</avatar>
		</li>
		<slot></slot>
	</ul>
</template>

<script>
	import Avatar from "./Avatar.vue"
	export default {
		components: {
			Avatar,
		},
	}
</script>

<style lang="scss" scoped>
.members {
	display: flex;
	flex-wrap: wrap;
}
.member {
	position: relative;
	margin-bottom: 4px;
}
</style>