<template>
	<button class="card">
		<slot></slot>
		<div class="card-data">
			<Labels></Labels>
			<div class="title">Some Title</div>
			<ul class="details">
				<li class="infomy"><i class="far fa-eye"></i></li>
				<li class="infomy completed"><i class="far fa-clock"></i>Aug 19</li>
				<li class="infomy"><i class="fas fa-align-left"></i></li>
				<li class="infomy"><i class="far fa-comment"></i> 2</li>
				<li class="infomy"><i class="fas fa-paperclip"></i> 6</li>
				<li class="infomy completed"><i class="far fa-check-square"></i>7/5</li>
			</ul>
			<CardMembers></CardMembers>
		</div>
	</button>
</template>

<script>
	import CardMembers from "./CardMembers.vue"
	import Labels from "./Labels.vue"
	export default {
		components: {
			CardMembers,
			Labels,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/card";
</style>