<template>
	<div class="card">
		<div class="bg"></div>
		<div class="wrapper">
			<div class="m-section">
				<div class="card-title">
					<span class="mi"><i class="far fa-credit-card"></i></span>
					<textarea rows="1" class="input fox">CARD TITLE</textarea>
				</div>
				<span class="card-location">
					<span class="space">in list</span>
					<span class="relative">
						<button class="move-card">list title</button>
					</span>
					<i class="far fa-eye"></i>
				</span>
			</div>
			<div class="container">
				<div class="main">
					<div class="m-section">
						<CardData></CardData>
					</div>
					<div class="m-section">
						<Description></Description>
					</div>
					<div class="m-section">
						<Attachments></Attachments>
					</div>
					<div class="m-section">
						<Checklists></Checklists>
					</div>
					<div class="m-section">
						<AddComment></AddComment>
					</div>
					<div class="m-section">
						<Activity></Activity>
					</div>
				</div>
				<div class="side">
					<div class="m-section" v-for="i in 1">
						<div class="header"><span class="s-title">ADD TO CARD</span></div>
						<ul>
							<li class="addition-item">
								<button class="gray-btn"><i class="fas fa-user"></i>Members</button>
								<Dropdown v-if="''"><AddMembersCardDD></AddMembersCardDD></Dropdown>
							</li>
							<li class="addition-item">
								<button class="gray-btn"><i class="fas fa-tag"></i>Labels</button>
								<Dropdown v-if="''"><CreateLabelDD></CreateLabelDD></Dropdown>
							</li>
							<li class="addition-item">
								<button class="gray-btn"><i class="fas fa-check-square"></i>Checklist</button>
								<Dropdown v-if="''"><AddChecklistDD></AddChecklistDD></Dropdown>
							</li>
							<li class="addition-item">
								<button class="gray-btn"><i class="fas fa-clock"></i>Due Date</button>
							</li>
							<li class="addition-item">
								<button class="gray-btn"><i class="fas fa-paperclip"></i>Attachment</button>
								<Dropdown v-if="''"><AttachFromDD></AttachFromDD></Dropdown>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import CardData from "./CardData.vue"
	import Attachments from "./Attachments.vue"
	import Description from "./Description.vue"
	import Checklists from "./Checklists.vue"
	import AddComment from "./AddComment.vue"
	import Activity from "./Activity.vue"
	import Dropdown from "./Dropdown.vue"
	import AddMembersCardDD from "./dropdowns/AddMembersCardDD.vue"
	import AddChecklistDD from "./dropdowns/AddChecklistDD.vue"
	import CreateLabelDD from "./dropdowns/CreateLabelDD.vue"
	import ChangeLabelDD from "./dropdowns/ChangeLabelDD.vue"
	import AttachFromDD from "./dropdowns/AttachFromDD.vue"
	export default {
		components: {
			CardData,
			Attachments,
			Description,
			Checklists,
			AddComment,
			Activity,
			Dropdown,
			AddMembersCardDD,
			AddChecklistDD,
			CreateLabelDD,
			ChangeLabelDD,
			AttachFromDD,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/card-boxmodel";
</style>