<template>
	<ul class="checklists">
		<li class="checklist" v-for="i in 3">
			<div class="header">
				<span class="mi"><i class="far fa-check-square"></i></span>
				<div class="checklist-title">
					<textarea rows="1" class="input fox">CHECKLIST - 1</textarea>
					<div v-if="''" class="form-actions"> <!-- v-if -->
						<span>
							<button class="submit-btn">Save</button>
							<button class="cancle"><i class="fas fa-times"></i></button>
						</span>
					</div>
				</div>
				<button v-if="'t'" class="s-btn hide">Hide completed items</button>	<!-- v-if -->
				<button v-if="''" class="s-btn show">show completed items</button>	<!-- v-else -->
				<span class="relative">
					<button class="s-btn">Delete</button>
				</span>
			</div>
			<div>
				<div class="progress">
					<span class="percent">50%</span>
					<span class="progress-bar"><span class="percent-bar"></span></span>
				</div>
				<ul class="items">
					<li class="item completed" v-for="i in 3">
						<button class="checkbox">
							<span class="hover"></span>
							<i class="fas fa-check"></i>
						</button>
						<div class="item-title">
							<textarea rows="1" class="input fox">Item - 1</textarea>
							<div v-if="''" class="form-actions"> <!-- v-if -->
								<div>
									<button class="submit-btn">Save</button>
									<button class="cancle"><i class="fas fa-times"></i></button>
								</div>
							</div>
						</div>
						<span class="relative">
							<button class="drop"><i class="fas fa-ellipsis-h"></i></button>
						</span>
					</li>
				</ul>
				<div>
					<textarea rows="1" class="add input fox" placeholder="Add an item"></textarea>
					<div v-if="''" class="form-actions"> <!-- v-if -->
						<div>
							<button class="submit-btn">Add</button>
							<button class="cancle"><i class="fas fa-times"></i></button>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import '/imports/ui/sass/board/checklists';
</style>