<template>
	<div class="discription">
		<div class="header">
			<span class="mi"><i class="fas fa-align-left"></i></span>
			<span class="m-title">Description</span>
			<button class="edit">Edit</button>
		</div>
		<div>
			<textarea placeholder="Add a description" rows="1" class="input fox"></textarea>
			<div v-if="''" class="form-actions"> <!-- v-if -->
				<div>
					<button class="submit-btn">Save</button>
					<button class="cancle"><i class="fas fa-times"></i></button>
				</div>
				<div class="relative">
					<button class="help">Formatting help</button>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<style lang="scss" scoped>
@import '/imports/ui/sass/board/colors';
.edit, .help {
	@extend %text-hover;
	text-decoration: underline;
}
.help {
	@extend %light-bg;
	@extend %dark-hover;
	@extend %darker-active;
	height: 32px;
	font-size: .95rem;
	border-radius: 4px;
	padding: 0 12px;
}
</style>