<template>
	<div class="dropdown">
		<button class="back"><i class="fas fa-arrow-left"></i></button>
		<button class="close"><i class="fas fa-times"></i></button>
		<slot></slot>
	</div>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/dropdown"
</style>