<template>
	<ul class="labels">
		<li class="item" v-for="i in 2">
			<button class="label">Label<span class="hover"></span></button>
		</li>
		<slot></slot>
	</ul>
</template>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/labels";
</style>