<template>
	<li class="list">
		<div class="v-bar-child">
			<div class="header">
				<textarea rows="1" class="input fox">List Name</textarea>
				<div class="relative">
					<button class="drop"><i class="fas fa-ellipsis-h"></i></button>
				</div>
			</div>
			<div class="content">
				<ul class="cards">
					<li class="card-item" v-for="i in 1">
						<Card>
							<div class="bg-container"><img class="bg" src="../assets/city.jpg"></div>
						</Card>
					</li>
				</ul>
			</div>
			<div class="footer">
				<button v-if="'t'" class="add-card"><i class="fas fa-plus"></i><span>Add a card</span></button> <!-- v-if -->
				<div v-if="''"> <!-- v-else -->
					<textarea placeholder="Enter a title for this card…" class="input ready" autofocus></textarea>
					<div class="form-actions">
						<div>
							<button class="submit-btn">Add a card</button>
							<button class="cancle"><i class="fas fa-times"></i></button>
						</div>
						<div class="relative">
							<button class="drop"><i class="fas fa-ellipsis-h"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</template>

<script>
	import Card from "./Card.vue"
	export default {
		components: {
			Card
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/list";
</style>