<template>
	<div class="user">
		<avatar>AY</avatar>
		<div class="info">
			<button class="username">Alaa Eldeen Ysr</button>
			<p class="nickname">@alaaeldeenysr</p>
			<button class="edit-info">Edit profile info</button>
		</div>
	</div>
</template>

<script>
	import Avatar from "./Avatar.vue"
	export default {
		components: {
			Avatar,
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/user";
</style>