<template>
	<div class="navbar">
		<ul class="nav-left">
			<li class="item boards">
				<button class="btn"><i class="fab fa-trello"></i>Boards</button>
			</li>
			<li class="item">
				<div class="search">
					<input class="nav-input" type="text">
					<div class="search-details">
						<button class="search-btn"><i class="fas fa-search"></i></button>
						<div class="dynamic">
							<button><i class="fas fa-share-square"></i></button>
							<button><i class="fas fa-times"></i></button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<a href="" class="brand">
			<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg">
		</a>
		<ul class="nav-right">
			<li class="item">
				<button class="btn"><i class="fas fa-plus"></i></button>
			</li>
			<li class="item">
				<button class="btn"><i class="fas fa-info"></i></button>
			</li>
			<li class="item">
				<button class="btn"><i class="fas fa-bell"></i></button>
			</li>
			<li class="item">
				<avatar :url="url">AYA</avatar>
			</li>
		</ul>
	</div>
</template>

<script>
	import Avatar from "./Avatar.vue"
	export default {
		components: {
			Avatar
		},
		data() {
			return {
				url: 'https://i.pinimg.com/736x/ff/40/a6/ff40a667d68d2ab5d0b850eaa0664d82--beach-background-wallpapers-cool-backgrounds-wallpapers.jpg'
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/colors";
@import "/imports/ui/sass/board/navbar";
.navbar {
	background-color: rgba(0,0,0,.2);
}
</style>