<template>
	<div class="overlay">
		<slot></slot>
	</div>
</template>

<style lang="scss" scoped>
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	overflow: auto;
	background-color: rgba(0,0,0,.7);
	padding: 0 5px;
	& > :only-child {
		margin: 40px auto;
	}
}
</style>