<template>
	<div class="toolbar">
		<div class="lineaments">
			<div class="a-section">
				<div class="item header">
					<button class="btn title">Board Title</button>
					<button class="btn star"><i class="far fa-star"></i></button>
				</div>
				<hr class="wall">
				<div class="item team">
					<button class="btn">Team<span class="badge">Free</span></button>
					<dropdown v-if="''">
						<AddMembersBoardDD></AddMembersBoardDD>
					</dropdown>
				</div>
				<hr class="wall">
				<div class="item privacy">
					<button href="#" class="btn"><i class="fas fa-lock"></i>Private</button>
				</div>
				<hr class="wall">
			</div>
			<BoardMembers>
				<div class="item">
					<button class="t-members">10</button>
				</div>
				<div class="item">
					<button class="add-member"><i class="fas fa-user-plus"></i></button>
				</div>
			</BoardMembers>
		</div>
		<div class="item show-menu">
			<button class="btn"><i class="fas fa-ellipsis-h"></i><span>Show Nenu</span></button>
		</div>
	</div>
</template>

<script>
	import BoardMembers from "./BoardMembers.vue"
	import Dropdown from "./Dropdown.vue"
	import TeamDD from "./dropdowns/TeamDD.vue"
	import ChangeTeamDD from "./dropdowns/ChangeTeamDD.vue"
	import AddMembersBoardDD from "./dropdowns/AddMembersBoardDD.vue"
	import RenameBoardDD from "./dropdowns/RenameBoardDD.vue"
	import BoardMemberDD from "./dropdowns/BoardMemberDD.vue"
	import BoardMembersDD from "./dropdowns/BoardMembersDD.vue"
	import ChangeUserinfoDD from "./dropdowns/ChangeUserinfoDD.vue"
	import ChangeVisibilityDD from "./dropdowns/ChangeVisibilityDD.vue"
	import ChangePermissionsDD from "./dropdowns/ChangePermissionsDD.vue"
	export default {
		components: {
			Dropdown,
			BoardMembers,
			TeamDD,
			ChangeTeamDD,
			AddMembersBoardDD,
			RenameBoardDD,
			BoardMemberDD,
			BoardMembersDD,
			ChangeUserinfoDD,
			ChangeVisibilityDD,
			ChangePermissionsDD,
		},
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/board/toolbar";
</style>