<template>
	<div class="board-view">
		<navbar></navbar>
		<blackboard></blackboard>
		<Overlay>
			<CardBoxModel></CardBoxModel>
		</Overlay>
	</div>
</template>

<script>
	import Navbar from "../components/board/Navbar.vue"
	import Blackboard from "../components/board/Blackboard.vue"
	import Overlay from "../components/board/Overlay.vue"
	import CardBoxModel from "../components/board/CardBoxModel.vue"
	export default {
		components: {
			Navbar,
			Blackboard,
			Overlay,
			CardBoxModel,
		},
		mounted(){
			document.body.className = 'img-9'
		}
	}
</script>

<style lang="scss" scoped>
.board-view {
	display: flex;
	flex-direction: column;
	height: 100%;
}
</style>