<template>
	<div class="wrapper" :class="{'sticky-mode' : $store.state.App.stickyMode}">
		<Navbar/>
		<CreateBoard v-if="createBoard" v-click-outside="toggleCreateBoard" @close="toggleCreateBoard"/>
		<div class="dashboard">
			<div>
				<div class="dashboard-content">
					<div class="sidebar">
						<div class="section router-dropper">
							<a href="#" class="link" @click.prevent="$router.push('/dashboard')" :class="isActive('/dashboard')">
								<i class="fas fa-signature"></i>
								<h4>Home</h4>
							</a>
							<a href="#" class="link" @click.prevent="$router.push(linkToBoards)" :class="isActive(linkToBoards)">
								<i class="fab fa-trello"></i>
								<h4>Boards</h4>
							</a>
						</div>
						<div class="section teams">
							<div class="section-name">
								<span>TEAMS</span>
							</div>
							<ul>
								<li class="team" v-for="team in teams">
									<a href="#" class="link">
										<i class="fas fa-user-friends"></i>
										<h4>{{team.name}}</h4>
									</a>
								</li>
							</ul>
							<div class="create-team">
								<a href="#" class="link" @click.prevent="createTeam = !createTeam">
									<i class="fas fa-plus"></i>
									<span>Create a team</span>
								</a>
								<CreateTeam v-if="createTeam" v-click-outside="closeCreateTeam" @close="closeCreateTeam"/>
							</div>
						</div>
					</div>
					<transition name="fade" mode="out-in">
						<router-view></router-view>
					</transition>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import bodyClass from '/imports/ui/mixins/bodyClass'
	import { Teams } from '/imports/collections/teams.js'  
	import {mapMutations , mapState} from 'vuex'
	import Boards from '../components/Boards.vue'
	import Home from '../components/Home.vue'
	import Navbar from '../components/Navbar.vue'
	import CreateTeam from '../components/CreateTeam.vue'
	import CreateBoard from '../components/CreateBoard.vue'
	export default {
		components: { Navbar , Boards , Home , CreateTeam , CreateBoard},
		mixins: [bodyClass],
		data(){
			return {
				createTeam: false
			}
		},
		meteor:{
			$subscribe :{
				teams: []
			},
			teams() {
				return Teams.find({})
			},
			user(){
				return Meteor.user() || {}
			}
		},
		computed: {
			...mapState({
				createBoard: state => state.App.createBoard.isActive
			}),
			linkToBoards(){
				return '/dashboard/' + this.user.username + '/boards'
			}
		},
		beforeRouteEnter(to , from , next){
			!Meteor.userId() ? next('/login') : next() 
		},
		methods:{
			...mapMutations({
				toggleCreateBoard: 'App/toggleCreateBoard'
			}),
			closeCreateTeam(){
				this.createTeam = false
			},
			isActive(path){
				return this.$route.fullPath === path ? 'active' : ''
			}
		}
	}
</script>

<style lang="scss" scoped>
.wrapper{
	font-size: 15px;
	& /deep/ h4 {
		color: #444;
	}
	&.sticky-mode{
		padding-left: 290px;
	}
}
.active{
	*{
		color: #0079BF !important;
	}
	background-color: #E4F0F6 !important;
}
.fade-enter-active, .fade-leave-active {
	transition: all .3s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
	transform: translateY(-100px);
}
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/dashboard";
body{
	background-color: black;
}
</style>

<style>
body.dashboard{
	background-color: #F8F9F9;
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
::placeholder{
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
</style>