<template>
	<div id="wrapper">
		<nav>
			<a href="#" class="brand" @click.prevent="$router.push('/')">
				<img src="trello-logo-black.svg">
			</a>
			<div class="nav-right">
				<a href="#" class="btn btn-grey" @click.prevent="$router.push('/login')">Log In</a>
				<a href="#" class="btn btn-green" @click.prevent="$router.push('/register')">Sign Up</a>
			</div>
		</nav>
		<div class="section goodbye-section">
			<div class="content">
				<h1>Thanks for using Trello</h1>
				<p>You’re all logged out. So now what?</p>
			</div>
		</div>
		<div class="section apps-section">
			<div class="content">
				<img src="home-devices.png">
				<div class="content-right">
					<p>
						<strong>Do you have the apps?</strong>
						We’ve got apps for iPhone, iPad, Android phones, tablets, and watches. You probably have one of those.
					</p>
					<a href="#" class="btn">Download the Apps</a>
				</div>
			</div>
		</div>
		<div class="section follow-us-section">
			<div class="content">
				<h3>Follow us</h3>
				<p>
					…on the <a href="#" class="btn btn-link">Trello Blog</a>, <a href="#" class="btn btn-link">Twitter</a>, <a href="#" class="btn btn-link">Facebook</a>, and <a href="#" class="btn btn-link">Google+</a>. <br>
					We post all kinds of tips and updates, but not an annoying amount.
				</p>
			</div>
		</div>
		<div class="section share-section">
			<div class="content">
				<h3>Share Trello to get free Trello Gold.</h3>
				<p>That’s right. For every member you get to sign up, you’ll get a free <br> month of Trello Gold, up to 12 months. With Trello Gold you get <br>three Power-Ups per board, custom backgrounds, stickers and <br> emoji, 250MB attachments, and  saved searches. </p>
				<p>Help us spread the word and get some free Gold.</p>
				<a href="#" class="btn">Share Trello</a>
			</div>
		</div>
		<div class="section game-section">
			<div class="content">
				<h3>“Thanks, Trello, but I’m done for the day.”</h3>
				<p>
					<a href="#" class="btn btn-link">Here’s a game we made featuring Taco, our spokes-husky.</a>
				</p>
				<img src="pixel-taco.png">
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss">
	@import '/imports/ui/sass/goodbye';
</style>
