<template>
	<div class="wrapper">
		<div class="navbar">
			<a href="#" class="brand">
				<img class="logo" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg">
			</a>
			<div class="log-sign">
				<a href="#" class="btn-blue" @click.prevent="$router.push('/login')">Log In</a>
				<a href="#" class="btn-green bold" @click.prevent="$router.push('/register')">Sign Up</a>
			</div>
		</div>
		<div class="sections">
			<div class="section-1">
				<h1>Trello lets you work more<br>collaboratively and get more done.</h1>
				<p>Trello’s boards, lists, and cards enable you to organize and prioritize<br>your projects in a fun, flexible and rewarding way.</p>
				<a href="#" class="btn-green bold" @click.prevent="$router.push('/register')">Sign Up – It’s Free.</a>
				<div class="login" @click.prevent="$router.push('/login')">
					<span>Already use Trello?</span>
					<a href="#">Log in</a>
				</div>
			</div>
			<div class="section-2">
				<p>The Design Team shares updates on current projects so everyone in<br>the company knows what's going on.</p>
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/6d087541e5e4a72bb33f0d7f6aa0f2e3/usecases-board04.jpg">
				<div>
					<p>From startups to Fortune 500 companies, Trello is the most visual<br>way for teams to collaborate on any project.</p>
					<a href="#" class="btn-green">Create Your Board</a>
				</div>
			</div>
			<div class="section-3">
				<h3>Information At A Glance</h3>
				<p>Dive into the details by adding comments, attachments,<br>and more directly to Trello cards. Collaborate on projects from<br>beginning to end.</p>
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/1b9100e29afb7df3e805a6c5210a202e/usecases-card.jpg">
			</div>
			<div class="section-4">
				<div>
					<h2>Work With Any Team</h2>
					<p>Whether it’s for work, Whether it’s for work, Whether it’s for work, a side project or even the next family vacation, Trello helps your team stay organized.</p>
					<a href="#" class="btn-blue">Build Your Dream Team</a>
				</div>
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/43e915441342077c5fdc6be43b9c1c86/usecases-tiles.jpg">
			</div>
			<div class="section-5">
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c66b31f34142c6f1f3ba0e0655cf3486/usecases-powerups.png">
				<div>
					<h2>A Productivity Platform</h2>
					<p>Integrate the apps your team already uses directly into your workflow. Power-Ups turn Trello boards into living applications to meet your team's unique business needs.</p>
					<a href="#" class="btn-red">Power-Up Your Workflow</a>
				</div>
			</div>
			<div class="section-6">
				<div>
					<h2>Work With Any Team</h2>
					<p>Whether it’s for work, Whether it’s for work, Whether it’s for work, a side project or even the next family vacation, Trello helps your team stay organized.</p>
					<a href="#" class="btn-blue">Build Your Dream Team</a>
				</div>
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/60dc711cb04607c6a8a0c55b045aeb6d/usecases-taco.jpg">
			</div>
			<div class="footer">
				<p>What are you waiting for?<br>
					<strong>Sign up for free</strong>
					and become one of the millions of people<br>
					around the world who have fallen in love with Trello.
				</p>
				<a href="#" class="btn-green bold" @click.prevent="$router.push('/register')">Sign Up – It’s Free.</a>
				<div class="login">
					<span>Already use Trello?</span>
					<a href="#" @click.prevent="$router.push('/login')">Log in</a>
				</div>
				<div>
					<img src="Atlassian.png" height="15"> © Copyright 2018. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		mounted(){
			// Meteor.userId() ? this.$router.push('/dashboard') : null
		}
	}
</script>

<style lang="scss" scoped>
@import "../sass/packages/welcome";
@import "../sass/welcome"
</style>