<template>
	<div class="routers">
		<div class="boards-router">
			<div class="section" v-if="starredBoards.length">
				<div class="section-name">
					<i class="far fa-star"></i>
					<h4>Starred Boards</h4>
				</div>
				<ul class="boards">
					<li class="item" v-for="board in starredBoards">
						<a href="#" class="blue">
							<div class="background">
								<h4 class="board-title">{{board.title}}</h4>
								<div class="star active">
									<i class="far fa-star" @click="toggleStar(board)"></i>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<div class="section-name">
					<i class="fas fa-user"></i>
					<h4>Personal Boards</h4>
				</div>
				<ul class="boards">
					<li v-for="board in boards" class="item">
						<a href="#" class="blue">
							<div class="background">
								<h4 class="board-title">{{board.title}}</h4>
								<div class="star" :class="{'active' : board.starred}">
									<i class="far fa-star" @click="toggleStar(board)"></i>
								</div>
							</div>
						</a>
					</li>
					<li class="create-board">
						<a href="#" @click.prevent="$store.commit('App/toggleCreateBoard')">
							<div class="background">
								<span>Create new board…</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="section teams">
				<ul>
					<li class="team" v-for="team in teams">
						<div class="header">
							<div class="section-name">
								<i class="fas fa-user-friends"></i>
								<h4>{{team.name}}</h4>
							</div>
							<a href="#"><i class="fab fa-trello"></i><span>Boards</span></a>
							<a href="#"><i class="fas fa-user-circle"></i><span>Members</span></a>
							<a href="#"><i class="fas fa-cog"></i><span>sittings</span></a>
						</div>
						<ul class="boards">
							<li v-for="board in team.boards" class="item">
								<a href="#" class="red">
									<div class="background">
										<h4 class="board-title" v-if="board">{{board.title}}</h4>
										<div class="star" :class="{'active' : board.starred}">
											<i class="far fa-star" @click="toggleStar(board)"></i>
										</div>
									</div>
								</a>
							</li>
							<li class="create-board">
								<a href="#" @click.prevent="$store.commit('App/toggleCreateBoard' , {team})">
									<div class="background">
										<span>Create new board…</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- <div class="create-team">
					<a href="#" class="link" @click.prevent="createTeam = !createTeam">Create a new team…</a>
					<div class="create-team-dropdown">
						<CreateTeam v-if="createTeam" v-click-outside="closeCreateTeam" @close="closeCreateTeam"/>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>

<script>
	import { Teams } from '/imports/collections/teams.js'  
	import { Boards } from '/imports/collections/boards.js'  
	import CreateTeam from '../components/CreateTeam.vue'
	export default {
		components: { CreateTeam },
		data(){
			return {
				createTeam: false
			}
		},
		meteor: {
			$subscribe: {
				teams: [],
				boards: []
			},
			teams(){
				return Teams.find().map((team) => {
					team.boards = Boards.find({team_id : team._id}).fetch()
					return team
				})
			},
			boards(){
				return Boards.find({team_id : {$exists: false}})
			},
			starredBoards(){
				return Boards.find({starred : true})
			}
		},
		methods: {
			closeCreateTeam(){
				this.createTeam = false
			},
			toggleStar(board){
				Meteor.call('boards.toggleStar' , board)
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/boards";
</style>