<template>
	<div class="create-board-overlay" @click.self="closeModal">
		<div class="content">
			<div class="the-background">
				<div class="inputs">
					<form @submit.prevent="create" v-focus.queue>
						<input type="text" placeholder="Add board title" v-model="title" ref="title">
						<div class="options">
							<Choose :options="teams" v-model="team" label="name" :default="{name: 'No Teams'}" @toggled="teamDropdown = !teamDropdown"/>
							<privacy v-model="privacy" @toggled="privacyDropdown = !privacyDropdown">
								<privacy-item name="private" icon="lock">
									<template slot="title">Private</template>
									<template slot="details">The board is private. Only people added to the board can view and edit it. </template>
								</privacy-item>
								<privacy-item name="team" icon="user-friends" v-if="team.name !== 'No Teams'">
									<template slot="title">Team</template>
									<template slot="details">The board is visible to members of the Academy Y team.  Only people added to the board can edit it.</template>
								</privacy-item>		
								<privacy-item name="public" icon="globe">
									<template slot="title">Public</template>
									<template slot="details">The board is public. It's visible to anyone with the link and will show up in search engines like Google.  Only people added to the board can edit it.</template>
								</privacy-item>		
							</privacy>
						</div>
						<button type="submit" :disabled="!title.length" :class="{'disable' : !title.length}">Create Board</button>
					</form>
					<div class="cancel">
						<a href="#" @click="$emit('close')"><i class="fas fa-times"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Teams } from '/imports/collections/teams.js' 
	import { Boards } from '/imports/collections/boards.js' 
	import Choose from './reusable/Choose.vue' 
	import Privacy from './reusable/Privacy.vue' 
	import PrivacyItem from './reusable/PrivacyItem.vue' 
	export default {
		components: { Choose , Privacy  , PrivacyItem},
		data(){
			return {
				teamDropdown: false,
				privacyDropdown: false,
				title: '',
				team: {},
				privacy: {
					name: 'public',
					icon: 'globe'
				}
			}
		},
		meteor:{
			$subscribe: {
				teams: []
			},
			teams(){
				return Teams.find()
			}
		},
		created(){
			this.$store.state.App.createBoard.team._id && (this.team = this.$store.state.App.createBoard.team) 
			window.addEventListener('keyup' , (e) => {
				if (e.keyCode == 27) {
					this.closeModal()
				}
			})
		},
		watch:{
			team(n){
				n.name !== 'No Teams' ? this.privacy = {name: 'team' , icon:'user-friends'} : this.privacy = {name: 'private' , icon: 'lock'}
			}
		},
		methods: {
			closeModal(){
				!(this.teamDropdown || this.privacyDropdown) && this.$emit('close') 
			},
			create(){
				let data = {
					title: this.title,
					privacy: this.privacy,
					owner_id : Meteor.userId()
				}	
				
				this.team._id && (data.team_id = this.team._id) 

				Meteor.call('boards.create' , data , err => {
					!err ? this.closeModal() : null
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/create-board";
</style>