<template>
	<div class="create-team-dropdown" v-focus.queue="1" @keyup.esc="$emit('close')">
		<div>
			<div>
				<div class="header">
					<span>Create Team</span>
					<a href="#" @click.prevent="$emit('close')"><i class="fas fa-times"></i></a>
				</div>
				<div class="dropdown-content">
					<form @submit.prevent="create">
						<div class="division">
							<label>
								<strong>Name</strong>
							</label>
							<input type="text" v-model="name">
						</div>
						<div class="division">
							<label>
								<strong>description</strong>
								<span> (optional)</span>
							</label>
							<textarea v-model="description"></textarea>
						</div>
						<button type="submit" :disabled="name.length == 0" :class="{'disable' : name.length == 0}">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Teams } from '/imports/collections/teams.js'  

	export default {
		data(){
			return {
				name: '',
				description: ''
			}
		},
		methods:{
			create(){
				let data = {
					name: this.name,
					description: this.description,
					owner_id: Meteor.userId(),
				}
				Meteor.call('teams.create' , data , err => {
					this.$emit('close')
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/create-team";
</style>