<template>
	<div class="routers">
		<div class="home-router">
			<div class="timeline">
				<div class="section-name">
					<i class="far fa-heart"></i>
					<span>HIGHLIGHTS</span>
				</div>
				<div class="header-container bg-white flex">
					<img src="https://a.trellocdn.com/prgb/dist/images/home/orientation/highlights.2bc06dddced721a031de.svg">
					<div class="flex flex-col justify-between px-3 py-5">
						<h3>Highlights</h3>
						<p>Stay up to date with activity from your teams and boards.</p>
						<a href="#" class="mr-auto text-grey-dark hover:text-black underline text-xs">Got it! Dismiss this.</a>
					</div>
				</div>
				<!-- <div class="timeline">
					<div class="p-2 pb-1 bg-blue-dark rounded-t-sm">
						<a href="#" class="header block mb-1 p-2 bg-white rounded-sm d-hover">
							<div class="mb-2 text-black">lesson 1</div>
							<div class="mb-1 text-sm text-grey-dark">
								<span class="mr-1">
									<i class="far fa-comment"></i>
									<span>2</span>
								</span>
								<span>
									<i class="far fa-check-circle"></i>
									<span>2/5</span>
								</span>
							</div>
						</a>
						<div class="mx-1 text-white">
							<a href="#" class="text-white text-sm hover:underline">Learn Math</a>
							<span class="text-sm">: ch1</span>
						</div>
					</div>
					<div class="bg-white p-4 pb-2">
						<div class="flex items-center mb-6">
							<h4 class="mr-2 p-2 rounded-full bg-grey-light font-bold">AY</h4>
							<div>
								<h4>Alaa Eledeen Ysr</h4>
								<span class="block text-grey-dark text-xs">2 days ago</span>
							</div>
						</div>
						<p class="text-black mb-6">Text comes from the input</p>
						<button class="text-center text-sm px-2 py-3 w-full border rounded d-hover">
							<i class="fas fa-sign-in-alt text-grey-dark mr-1"></i>
							<span class="text-dark">Reply</span>
						</button>
					</div>
					<div class="bg-grey-lightest rounded-b-sm p-2">
						<div class="mb-2 flex items-center">
							<h4 class="mr-2 p-2 rounded-full bg-grey-light font-bold">AY</h4>
							<input type="text" class="px-2 py-3 flex-grow rounded-sm border hover:border-grey">
						</div>
						<div class="ml-10">
							<button class="text-grey mr-1">Save</button>
							<button class="underline text-grey-darker hover:text-black">Cancle</button>
						</div>
					</div>
				</div> -->
			</div>
			<div class="left-bar">
				<!-- <div class="viewed">
					<div class="section-name">
						<i class="far fa-clock"></i>
						<span>RECENTLY VIEWED</span>
					</div>
					<a href="#" class="link">
						<div class="bg-blue"></div>
						<h4>Learn Math</h4>
					</a>
				</div> -->
				<div>
					<div class="section-name">
						<span>LINKS</span>
					</div>
					<a href="#" class="link create" @click.prevent="$store.commit('App/toggleCreateBoard')">
						<i class="fas fa-plus bg-grey-light"></i>
						<span>Create a board</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>


<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/home";
</style>