<template>
	<div class="navbar" :class="{'sticky-mode' : $store.state.App.stickyMode}">
		<ul class="nav-left">
			<li class="boards-item">
				<a href="#" v-if="!$store.state.App.stickyMode" @click.prevent="toggleSidebar"><i class="fab fa-trello"></i><span>Boards</span></a>
				<Sidebar v-if="$store.state.App.stickyMode ? true : sidebar" v-click-outside="() => {closeSidebar()}" @close="sidebar = false"/>
			</li>
			<li class="search">
				<input type="text" @focus="search = true" @blur="search = false">
				<div>
					<a href="#" v-if="!search"><i class="fas fa-search"></i></a>
					<a href="#" v-if="search"><i class="fas fa-share-square"></i></a>
					<a href="#" v-if="search"><i class="fas fa-times"></i></a>
				</div>
			</li>
		</ul>
		<a href="" class="brand">
			<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg">
		</a>
		<ul class="nav-right">
			<li>
				<a href="#" @click.prevent="toggleDropdown('create')"><i class="fas fa-plus"></i></a>
				<CreateTeam v-if="dropdown === 'create-team'" v-click-outside="() => {closeDropdown('create-team')}" :class="{'create-team-active' : dropdown === 'create-team'}" @close="forceClose"/>
				<div class="create-dropdown" v-if="dropdown === 'create'" v-click-outside="() => {closeDropdown('create')}">
					<div class="header">
						<span>Create</span>
						<i class="fas es"></i>
					</div>
					<ul>
						<li>
							<a href="#" @click.prevent="openCreateBoard">
								<h4>Create Board...</h4>
								<p>A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything.</p>
							</a>
						</li>
						<li>
							<a href="#" @click.prevent="toggleDropdown('create-team')">
								<h4>Create Team...</h4>
								<p>A team is a group of boards and people. Use it to organize your company, side hustle, family, or friends.</p>
							</a>
						</li>
						<li>
							<a href="#">
								<h4>Create Business Team… </h4>
								<p>With Business Class your team has more security, administrative controls, and unlimited Power-Ups.</p>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#" @click.prevent="toggleDropdown('info')"><i class="fas fa-info"></i></a>
				<div class="info-dropdown" v-if="dropdown === 'info'" v-click-outside="() => {closeDropdown('info')}">
					<div class="header">
						<span>Information</span>
						<i class="fas es"></i>
					</div>
					<div class="content">
						<a href="#" class="trello-guide">
							<img src="https://a.trellocdn.com/prgb/dist/images/tips/webinars-1@1x.7e1a1e13b5deffa70d0e.png">
							<h4>New To Trello? Check Out The Guide</h4>
						</a>
						<a href="#" class="new-tip">Get a new tip</a>
					</div>
					<hr>
					<ul class="footer">
						<li>
							<a href="#">Tour</a>
						</li>
						<li>
							<a href="#">Pricing</a>
						</li>
						<li>
							<a href="#">Apps</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Privacy</a>
						</li>
						<li>
							<a href="#">More</a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="#"><i class="fas fa-bell"></i></a></li>
			<li v-if="user">
				<a href="#" class="user" @click.prevent="toggleDropdown('user')"><span>{{user.profile.initials}}</span></a>
				<User v-if="dropdown === 'user'" v-click-outside="() => {closeDropdown('user')}" @close="dropdown = ''"/>
			</li>
		</ul>
	</div>
</template>

<script>
	
	import User from './User.vue'
	import Sidebar from './Sidebar.vue'
	import CreateTeam from './CreateTeam.vue'

	export default {
		components: { User , Sidebar , CreateTeam},
		data(){
			return {
				dropdown: '',
				search: false,
				sidebar: false
			}
		},
		meteor:{
			user(){
				return Meteor.user()
			}
		},
		watch: {
			'$store.state.App.stickyMode'(n){
				!n ? this.sidebar = true : null
			}
		},
		methods:{
			openCreateBoard(){
				this.dropdown = ''
				this.$store.commit('App/toggleCreateBoard')
			},
			toggleDropdown(dropdown){
				this.dropdown === dropdown ? this.dropdown = '' : this.dropdown = dropdown
			},
			closeDropdown(dropdown){
				this.dropdown === dropdown ?  this.dropdown = '' : null 
			},
			forceClose(){
				this.dropdown = ''
			},	
			toggleSidebar(){
				!this.$store.state.App.stickyMode ? this.sidebar = ! this.sidebar : null
			},
			closeSidebar(){
				!this.$store.state.App.stickyMode ? this.sidebar = false : null
			},
			go(path){
				this.$router.push(path)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.create-team-active{
		left: unset;
		right: 0;
	}
	@import "/imports/ui/sass/packages/dashboard";
	@import '/imports/ui/sass/navbar';
</style>