<template>
	<div v-bar v-focus.queue @keyup.esc="$emit('close')" class="boards-dropdown" :class="{'sticky' : $store.state.App.stickyMode}">
		<div>
			<div class="header" v-if="$store.state.App.stickyMode">
				<h4>Boards</h4>
			</div>
			<div class="content">
			</div>
			<div class="content">
				<input class="search" type="text" placeholder="Find boards by name…" v-model="query">
				<div class="section">
					<ul>
						<li v-for="board in results">
							<a href="#" class="blue">
								<div class="color">
									<div class="hover"></div>
								</div>
								<div class="board-title">
									<div class="hover">
										<h4>{{board.title}}</h4>
									</div>
								</div>
								<div class="star" :class="{'active' : board.starred}">
									<i class="far fa-star" @click="toggleStar(board)"></i>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div v-if="!results.length">
					<div class="section starred">
						<div class="section-name">
							<i class="far fa-clock"></i>
							<span>STARRED BOARDS</span>
							<i class="fas" :class="!collapsed.includes('starred') ? 'fa-minus' : 'fa-plus'" @click="collapse('starred')"></i>
						</div>
						<ul v-if="!collapsed.includes('starred')">
							<li v-for="board in starredBoards">
								<a href="#" class="blue">
									<div class="color">
										<div class="hover"></div>
									</div>
									<div class="board-title">
										<div class="hover">
											<h4>{{board.title}}</h4>
										</div>
									</div>
									<div class="star active">
										<i class="far fa-star" @click="toggleStar(board)"></i>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<!-- <div class="section">
						<div class="section-name">
							<i class="far fa-clock"></i>
							<span>RECENT BOARDS</span>
							<i class="fas fa-plus" @click="recent = !recent"></i>
						</div>
						<ul v-if="recent">
							<li>
								<a href="#" class="red">
									<div class="color">
										<div class="hover"></div>
									</div>
									<div class="board-title">
										<div class="hover">
											<h4>Some board</h4>
										</div>
									</div>
									<div class="star">
										<i class="fas fa-times"></i>
										<i class="far fa-star"></i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="img-2">
									<div class="color">
										<div class="hover"></div>
									</div>
									<div class="board-title">
										<div class="hover">
											<h4>Some board</h4>
										</div>
									</div>
									<div class="star">
										<i class="fas fa-times"></i>
										<i class="far fa-star"></i>
									</div>
								</a>
							</li>
						</ul>
					</div> -->
					<div class="section">
						<div class="section-name">
							<i class="far fa-clock"></i>
							<span>PERSONAL BOARDS</span>
							<i class="fas" :class="!collapsed.includes('personal') ? 'fa-minus' : 'fa-plus'" @click="collapse('personal')"></i>
						</div>
						<ul v-if="!collapsed.includes('personal')">
							<li v-for="board in boards">
								<a href="#" class="blue">
									<div class="color">
										<div class="hover"></div>
									</div>
									<div class="board-title">
										<div class="hover">
											<h4>{{board.title}}</h4>
										</div>
									</div>
									<div class="star" :class="{'active' : board.starred}">
										<i class="far fa-star" @click="toggleStar(board)"></i>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<ul class="teams">
						<li class="section" v-for="team in teams">
							<div class="section-name">
								<a href="#">
									<i class="fas fa-user-friends"></i>
									<span>{{team.name}}</span>
								</a>
								<i class="fas" :class="!collapsed.includes('team.' + team._id) ? 'fa-minus' : 'fa-plus'"  @click="collapse('team.' + team._id)"></i>
							</div>
							<ul v-if="!collapsed.includes('team.' + team._id)">
								<li v-for="board in team.boards">
									<a href="#" class="red">
										<div class="color">
											<div class="hover"></div>
										</div>
										<div class="board-title">
											<div class="hover">
												<h4>{{board.title}}</h4>
											</div>
										</div>
										<div class="star">
											<i class="fas fa-times"></i>
										</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="footer">
						<a href="#" @click.prevent="openCreateBoard">Create new board…</a>
						<a href="#" @click.prevent="switchSticky" v-if="$store.state.App.stickyMode">Don’t keep this menu open.</a>
						<a href="#" @click.prevent="switchSticky" v-else>Always keep this menu open.</a>
						<a href="#">See closed boards…</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	import { Teams } from '/imports/collections/teams.js'  
	import { Boards } from '/imports/collections/boards.js'  
	export default {
		data(){
			return {
				query: '',
				get collapsed(){
					return Vue.ls.get('collapsed') || []
				},
				set collapsed(value){
					Vue.ls.set('collapsed' , value)
				}
			}
		},
		meteor: {
			$subscribe: {
				teams: [],
				boards: []
			},
			teams(){
				let ids = Boards.find().map(board => board.team_id)
				return Teams.find({_id : {$in : ids}}).map((team) => {
					team.boards = Boards.find({team_id : team._id}).fetch()
					return team
				})
			},
			boards(){
				return Boards.find({team_id : {$exists: false}})
			},
			starredBoards(){
				return Boards.find({starred : true})
			},
			results(){
				if (this.query) {
					return Boards.find({title: {'$regex': this.query , '$options': 'i'}})
				}
				else {
					return []
				}
			}
		},
		methods: {
			openCreateBoard(){
				this.$emit('close')
				this.$store.commit('App/toggleCreateBoard')
			},
			collapse(list){
				let clone = this.collapsed.slice()
				if (clone.includes(list)) {
					clone.splice(clone.indexOf(list) , 1)
					this.collapsed = clone
				}
				else {
					clone.push(list)
					this.collapsed = clone
				}
			},
			toggleStar(board){
				Meteor.call('boards.toggleStar' , board)
			},
			switchSticky(){
				this.$store.commit('App/toggleStickyMode')
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/sidebar"
</style>