<template>
	<div class="user-dropdown" v-if="user">
		<div class="header">
			<span>{{user.profile.name}} ({{user.username}})</span>
			<a href="#" @click.prevent="$emit('close')"><i class="fas fa-times"></i></a>
		</div>
		<div class="buttons">
			<ul>
				<li>
					<a href="#" @click="$router.push(user.username)"><h4>Profile</h4></a>
				</li>
				<li>
					<a href="#"><h4>Cards</h4></a>
				</li>
				<li>
					<a href="#"><h4>Settings</h4></a>
				</li>
			</ul>
			<hr>
			<ul>
				<li>
					<a href="#"><h4>Help</h4></a>
				</li>
				<li>
					<a href="#"><h4>Shortcuts</h4></a>
				</li>
				<li>
					<a href="#"><h4>Change Languages</h4></a>
				</li>
			</ul>
			<hr>
			<a href="#" @click.prevent="logout"><h4>Log Out</h4></a>
		</div>
	</div>
</template>

<script>
	export default {
		meteor: {
			user(){
				return Meteor.user()
			}
		},
		methods: {
			logout(){
				this.$emit('close')
				Meteor.logout(e => {
					if (!e) {
						this.$router.push('/logged-out')
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import "../sass/packages/dashboard";
	@import "../sass/user.scss"
</style>