<template>
	<div class="wrapper">
		<div class="content">
			<div class="alert" v-if="errors.state">
				{{errors.message}}
			</div>
			<h1>Log in to Trello</h1>
			<span>or <a href="#" @click.prevent="$router.push('/register')">Create an account</a></span>		
			<form @submit.prevent="login">
				<div class="input-group">
					<label for="email">Email <span>(or username)</span></label>
					<input type="text" placeholder="e.g john.doe@work.com" :class="{'error' : errors.message === 'User not found'}" v-model="email">
				</div>				
				<div class="input-group">			
					<label for="password">Password</label>
					<input type="password" placeholder="e.g , ........." :class="{'error' : errors.message === 'Incorrect password'}" v-model="password">
				</div>				
				<button type="submit" href="#" class="btn green">Log In</button>
			</form>		
			<a href="#" class="btn bordered" @click.prevent="loginWithGoogle"><i class="fab fa-google"></i>Log in with Google</a>
			<div class="actions">
				<a href="#" class="d-block" @click.prevent="$router.push('forget-password')">Forgot your password?</a>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				email: '',
				password: '',
				errors: {
					state: false,
					message: ''
				}
			}
		},
		meteor: {
			$subscribe:{
				users: []
			},
		},
		beforeRouteEnter(to , from , next){
			Meteor.userId() ? next('/dashboard') : next() 
		},
		methods: {
			login(){
				Meteor.loginWithPassword(this.email , this.password , e => {
					if (e) {
						this.errors.state =  true
						this.errors.message =  e.reason
					}
					else{
						this.$router.push('/dashboard')
					}
				})
			},
			loginWithGoogle(){
				Meteor.loginWithGoogle({} , (err) => {
					if (!err) {
						if (!Meteor.user().services.password) {
							this.$router.push('/set-password')
						}
						else{
							this.$router.push('/dashboard')
						}
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/auth";
</style>
