<template>
	<div class="wrapper">
		<div class="content">
			<div class="alert" v-if="errors.state">
				{{errors.message}}
			</div>
			<h1>Create a Trello Account</h1>
			<span>or <a href="#" @click.prevent="$router.push('/login')">Sign in to your account</a></span>		
			<form @submit.prevent="register">
				<div class="input-group">
					<label for="email">Name</label>
					<input type="text" placeholder="John Adams" :class="{'error' : errors.message === 'User not found'}" v-model="name">
				</div>	
				<div class="input-group">
					<label for="email">Email</label>
					<input type="text" placeholder="e.g john.doe@work.com" :class="{'error' : errors.message === 'Email already exists.'}" v-model="email">
				</div>				
				<div class="input-group">			
					<label for="password">Password</label>
					<input type="password" placeholder="e.g , ........." :class="{'error' : errors.message === 'Incorrect password'}" v-model="password">
				</div>				
				<button type="submit" href="#" class="btn green">Create New Account</button>
			</form>		
			<a href="#" class="btn bordered" @click.prevent="registerWithGoogle"><i class="fab fa-google"></i>Sign up with Google</a>
			<span>
				By creating an account , you agree to our  
				<a href="#" @click.prevent="$router.push('/terms')">Terms of Service</a> 
				and 
				<a href="#" @click.prevent="$router.push('/policy')">Privacy Policy</a>
			</span>		
		</div>
	</div>
</template>

<script>
	import { Accounts } from 'meteor/accounts-base' 
	export default {
		data(){
			return {
				name: '',
				email: '',
				password: '',
				errors: {
					state: false,
					message: ''
				}
			}
		},
		beforeRouteEnter(to , from , next){
			Meteor.userId() ? next('/dashboard') : next() 
		},
		meteor:{
			$subscribe: {
				users: []
			}
		},
		methods:{
			register(){				
				Accounts.createUser({
					email : this.email,
					password : this.password,
					profile: {
						name: this.name,
					}
				} , e => {
					if (!e) {
						this.$router.push('/dashboard')
					}
					else if (e.reason === "Email already exists.") {
						this.errors.state = true
						this.errors.message = e.reason
					}
				})
			},
			registerWithGoogle(){
				Meteor.loginWithGoogle({} , (err) => {
					if (!err) {
						if (!Meteor.user().services.password) {
							this.$router.push('/set-password')
						}
						else{
							this.$router.push('/dashboard')
						}
					}
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/auth";
</style>