<template>
	<transition name="fade" mode="out-in">
		<router-view></router-view>
	</transition>
</template>

<script>
	export default {
		beforeCreate(){
			this.$store.commit('App/mountStorage')
		}
	}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
	transition: all .3s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
	transform: translateY(-100px);
}
</style>