// @import '~fullcalendar/dist/fullcalendar.css';
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import "../board/colors";
p {
	line-height: 1.4rem;
}
label {
	@extend %c8c;
	font-weight: bold;
	font-size: .9rem;
	margin: 4px 0;
	padding-left: 2px;
}
select {
	@extend %c3;
	width: 100%;
	padding: 2px 0;
}
body {
	&.img-1 {
		background: url(./assets/plane.jpg);
	}
	&.img-2 {
		background: url(./assets/city.jpg);
	}
	&.img-3 {
		background: url(./assets/mountain.jpg);
	}
	&.img-4 {
		background: url(./assets/mountain-2.jpg);
	}
	&.img-5 {
		background: url(./assets/tiger.jpg);
	}
	&.img-6 {
		background: url(./assets/sunset.jpg);
	}
	&.img-7 {
		background: url(./assets/croco.jpg);
	}
	&.img-8 {
		background: url(./assets/grid.jpg);
	}
	&.img-9 {
		background: url(./assets/giant.jpg);
	}
	&.img-10 {
		background: url(./assets/fast.jpeg);
	}
	&.img-11 {
		background: url(./assets/forward.jpg);
	}
}
body {
	.c8c {
		@extend %c8c;
	}
	.c4d {
		@extend %c4d;
	}
	.c1 {
		@extend %c1;
	}
	.c3 {
		@extend %c3;
	}
	.c4 {
		@extend %c4;
	}
	.c9 {
		@extend %c9;
	}
}
.dash {
	margin: 0 4px;
}
.space {
	margin-right: 4px;
}
.relative {
	position: relative;
}
.form-actions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 8px;
	.cancle {
		@extend %c9;
		@extend %text-hover;
		@extend %light-hover;
		@extend %darker-active;
		height: 32px;
		vertical-align: top;
		width: 32px;
		border-radius: 4px;
		margin-left: 8px;
	}
}
.input {
	@extend %c3;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 7px 8px;
	transition: .3s;
	resize: none;
	overflow: hidden;
	&.ready {
		height: 80px;
		box-shadow: 0 1px 0 #ccc;
	}
	&.normal {
		@extend %dark-bg;
		@extend %darker-hover;
		border: 1px solid #cdd2d4;
	}
	&.fox {
		@extend %dark-hover;
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		&:focus {
			cursor: unset;
		}
	}
	&.normal, &.fox {
		&:focus {
			background-color: white !important;
			box-shadow: 0 0 2px 0 #0284c6;
			border-color: #0079bf;
		}
	}
}
.submit-btn, .delete-btn {
	border-radius: 3px;
	font-weight: bold;
	padding: 6px 12px;
	line-height: 20px;
	box-sizing: border-box;
	color: white;
	transition: 0.1s;
}
.submit-btn {
	background-color: #5AAC44;
	&:hover {
		background-color: darken(#5AAC44, 8%)
	}
	&:active {
		background-color: darken(#5AAC44, 15%)
	}
}
.delete-btn {
	background-color: #EB5A46;
	&:hover {
		background-color: darken(#EB5A46, 8%)
	}
	&:active {
		background-color: darken(#EB5A46, 15%)
	}
}
.bh-btn {
	@extend %c4;
	display: block;
	font-weight: bold;
	line-height: 20px;
	width: 100%;
	padding: 6px 12px;
	margin: 0 -12px;
	i:first-child {
		width: 20px;
		font-size: .88rem;
		margin-right: 3px;
	}
	.checked {
		@extend %c9;
		width: 20px;
		margin-left: 8px;
	}
	p {
		@extend %c8c;
		line-height: 1.075rem;
		margin-top: 4px;
		font-size: .9rem;
		word-break: break-word;
		font-weight: normal;
	}
	&:hover {
		background-color: #439CCF;
		&, * {
			color: white;
		}
	}
	&:active {
		background-color: darken(#439CCF, 8%);
	}
}
.gray-btn {
	@extend %c4;
	justify-content: unset;
	font-weight: bold;
	background-color: #e2e4e6;
	box-shadow: 0 1px 0 0 #c4c9cc;
	padding: 8px 12px;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	i:first-child {
		@extend %c9;
		justify-content: unset;
		width: 20px;
	}
	&:hover {
		background-color: #cdd2d4;
		box-shadow: 0 1px 0 0 #7b8084;
	}
	&:active {
		background-color: #838C91;
		box-shadow: none;
		&, * {
			color: white !important;
		}
	}
}
.s-btn:hover {
	text-decoration: underline;
	color: #444 !important;
}
.s-icon-btn:hover {
	color: #444 !important;	
	* {
		text-decoration: underline;
	}
	i {
		text-decoration: none;
	}
}
.hover {
	position: absolute;
	border-radius: inherit;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}