$img-1: url(https://ak0.picdn.net/shutterstock/videos/5893580/thumb/1.jpg);
$img-2: url(http://ruthtda.com/wp-content/uploads/2017/06/Background-1.jpg);
$img-3: url(http://c11.incisozluk.com.tr/res/incisozluk/11007/8/458038_oe63c.jpg);
$img-4: url(http://static.wixstatic.com/media/0cbc9e_7364a122cf5f40489437b2ae87c5f600~mv2.jpg);
$light-blue: #4E97C1;
$grey: #B8C2CC;
$light-grey: #DAE1E7;
$lighter-grey: #F1F5F8;
$lightest-grey: #F8FAFC;
$grey-dark: #8795A1;
$grey-darker: #606F7B;
$grey-darkest: #3D4852;
$black: #22292F;
%centered-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
%color-grey-dark {
	color: $grey-dark;
	a {
		color: $grey-dark;	
	}
}
.d-hover {
	&:hover {
		background-color: #d6dadc;
		border-radius: 4px;
	}
	&:active {
		background-color: #cdd2d4;
	}
}
.d-hover-color {
	color: #999;
	&:hover {
		background-color: #d6dadc;
		border-radius: 4px;
		color: $black;
	}
	&:active {
		background-color: #cdd2d4;
	}
}
%input {
	background-color: #E2E4E6;
	color: #333;
	border-radius: 3px;
	width: 100%;
	padding: 8px;
	border: 1px solid #cdd2d4;
	box-sizing: border-box;
	outline: 0;
	&:hover {
		background-color: lighten(#E2E4E6, 5%)
	}
	&:focus {
		background-color: white;
	}
}
%dropdown {
	position: absolute;
	top: 100%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,.4);
	border-radius: 4px;
}
%dropdown-header {
	padding-bottom: 10px;
	.header {
		@extend %centered-flex;
		border-bottom: 1px solid #d6dadc;
		margin: 0 10px;
		margin-bottom: 10px;
		color: $grey-dark;
		span {
			@extend %centered-flex;
			height: 40px;
		}
		a{
			@extend %centered-flex;
			width: 40px;
			height: 40px;
			cursor: pointer;
			position: absolute;
			right: 0;
			border-radius: 0 !important;
			color: #8795A1;
			&:hover {
				color: darken(#8795A1 , 8%)
			}
		}
	}
	hr {
		margin: 8px 10px;
		border: 0;
		border-bottom: 1px solid #d6dadc;
	}
}
%a-blue-hover {
	padding: 6px 12px;
	display: block;
	p {
		margin-top: 4px;
		color: $grey-dark;
		font-size: 12px;
		line-height: 1.2;
	}
	h1,h2,h3,h4,h5,h6, {
		color: $black;
	}
	&:hover {
		background-color: #439CCF;
		color: white !important;
		* {
			color: white !important;
		}
	}
	&:active {
		background-color: darken(#439CCF, 5%);
	}
}