%btn {
	box-shadow: 0 2px 0 #2d2d2d;
	color: white;
	padding: .7em 1.3em;
	border-radius: .4em;
	font-size: .9em;
}
@mixin btn-color($top , $bottom) {
	background: linear-gradient(to bottom, $top 0, $bottom 100%);
	&:hover {
		background: linear-gradient(to bottom, $top 0, darken($bottom , 7%) 100%)
	}
	&:active {
		background: linear-gradient(to bottom, $top 0, darken($bottom , 13%) 100%)
	}
}
.btn-red {
	@extend %btn;
	@include btn-color(#dc3545, #dc3545);
}
.btn-blue {
	@extend %btn;
	@include btn-color(#0067A3 , #0067A3);
}
.btn-green {
	@extend %btn;
	@include btn-color(#61bd4f , #5aac44);
}
.btn-gray {
	@extend %btn;
	@include btn-color(#343a40, #343a40);
}
.btn-yellow {
	@extend %btn;
	@include btn-color(#ffc107, #ffc107);
}
.btn-cyan {
	@extend %btn;
	@include btn-color(#17a2b8, #17a2b8);
}
.bold {
	font-weight: bold;
}
.block {
	width: 100%;
}