.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 14px !important;
}
.item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.content {
	flex-grow: 1;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.15)
}
.user {
	position: relative;
	margin-right: 12px;
}
.avatar {
	min-width: 32px;
	height: 32px;
}
.details {
	@extend %c3;
}
.comment, .attachment  {
	margin-top: 12px;
}
.doer {
	font-size: 1.1rem;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}
.when {
	@extend %text-hover;
	@extend %c8c;
	text-decoration: underline;
}
.edit, .delete, .reply, .when {
	font-size: .85rem;
}
.comment-text {
	@extend %c4;
	max-width: fit-content;
	margin-bottom: 4px;
	padding: 8px 12px;
	border-radius: 4px;
	background-color: white;
}
.edit, .reply {
	margin-left: 3px;
}
.mi {
	margin-left: 8px;
	margin-right: 10px !important;
}
.img, .comment-text {
	box-shadow: 0 1px 2px rgba(0,0,0,.23);
}
.img {
	margin-bottom: 4px;
	max-width: 100%;
	border-radius: 4px;
}