.share {
	font-size: .85rem;
}
.items {
	margin-bottom: 8px;
}
.item {
	margin-bottom: 4px;
}
.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 6px;
}
.img {
	background-color: rgba(0,0,0,.5);
	background-image: url(../assets/mountain-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 12px;
	border-radius: 4px;
	min-width: 110px;
	height: 80px;
}
.item-title {
	@extend %c3;
	font-weight: bold;
	margin-bottom: 8px;
}
.covering {
	margin-top: 4px;
	margin-right: 12px;
	i {
		font-size: .8rem;
		margin-right: 4px;
	}
}
.open {
	align-items: unset;
}
.open, .add {
	@extend %dark-hover;
	@extend %darker-active;
	padding: 8px;
	justify-content: unset;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
}