.avatar {
	@extend %c4;
	background-size: cover !important;
	background-position: 100% !important;
	position: relative;
	font-weight: bold;
	background-color: #D6DADC;
	font-size: .9rem;
	border-radius: 50%;
	&:hover .hover {
		@extend %darker-bg;
	}
	&:active .hover {
		background-color: rgba(0,0,0,.3);
	}
}