.members {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.member {
	position: relative;
	margin-right: -2px;
	z-index: 1;
}
.avatar {
	width: 28px;
	height: 28px;
}
.admin {
	background-image: url(https://dobrze.waw.pl/dwp/wp-content/uploads/2015/06/login-icon.png);
	background-size: cover;
	background-position: 100%;
	position: absolute;
	top: 63%;
	left: 55%;
	width: 14px;
	height: 14px;
}