.lists {
	display: flex;
	max-height: fit-content;
	& > :first-child {
		margin-left: 8px;
	}
	& > :last-child {
		margin-right: 8px;
	}
}
.board {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-bottom: 5px;
	&.starred /deep/ .star {
		color: #F2D600;
	}
}
.content {
	display: flex;
	flex-grow: 1;
	overflow: auto;
}