.card-data {
	display: flex;
	flex-wrap: wrap;
}
.hr {
	margin-bottom: 12px;
	margin-right: 24px;
}
.add-member, .add-label {
	@extend %light-bg;
	@extend %text-hover;
	@extend %dark-hover;
	@extend %darker-active;
	border-radius: 2px;
	i {
		font-size: .8rem;
	}
}
.add-member, /deep/ .avatar, /deep/ .label, .add-label {
	height: 32px;
}
.add-member, /deep/ .avatar, .add-label {
	width: 32px;
}
/deep/ .member {
	margin-right: 2px;
}
.add-label {
	@extend %c8c;
}
/deep/ .label {
	padding: 0 12px;
	&:hover .hover {
		background-color: rgba(255,255,255,.15);
	}
	&:active .hover {
		background-color: rgba(255,255,255,.3);
	}
}
/////////////////////////////////////////////////////
.change-date {
	@extend %light-bg;
	position: relative;
	border-radius: 4px;
	padding: 6px 8px;
	&:hover .date-time {
		@extend %c4;
	}
	&.past, &.completed {
		.date-time {
			color: white;
		}
	}
	&.past {
		background-color: #EC9488;
	}
	&.completed {
		background-color: #5AAC44;
		.checkbox {
			background-color: rgba(255,255,255,.4) !important;
			i {
				color: white;
				opacity: unset;
			}
			&:hover .hover {
				@extend %dark-bg;
			}
			&:active {
				.hover {
					@extend %darker-bg;
				}
				i {
					opacity: .1;
				}
			}
		}
	}
	.checkbox {
		position: relative;
		background-color: rgba(255,255,255,.4);
		box-shadow: 0 2px 3px rgba(0,0,0,.1);
		border: 1px solid white;
		border-radius: 3px;
		min-width: 22px;
		height: 20px;
		font-size: .7rem;
		box-sizing: border-box;
		margin-right: 8px;
		i {
			opacity: 0;
		}
		&:hover {
			background-color: white;
			i {
				opacity: .5;
			}
		}
		&:active i {
			opacity: unset;
		}
	}
	&:hover > .hover {
		@extend %dark-bg;
	}
	&:active > .hover {
		@extend %darker-bg;
	}
}
.date-time {
	z-index: 1;
	text-decoration: underline;
}
.past-padge {
	margin-left: 4px;
}