.infomy {
	margin-bottom: 4px;
}
.infomy {
	margin-right: 12px;
}
.labels, .details {
	margin-bottom: 2px;
}
.completed {
	background-color: #61BD4F;
	border-radius: 4px;
	padding: 4px 6px;
	color: white;
	i {
		justify-content: unset;
	}
}
.card-data {
	background-color: white;
	padding: 6px;
	padding-bottom: 4px;
	box-shadow: 0px 1px 1px 0px #c1c1c1;
}
.card {
	border-radius: 4px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	&:hover {
		.card-data {
			background-color: #F5F5F5;
			box-shadow: 0px 0px 2px 0px #676767;
		}
		.bg-container {
			padding: 6px;
			padding-bottom: 0;
			box-shadow: 0px 0px 2px 0px #555;
		}
	}
	&:active {
		.card-data {
			background-color: #eaeaea;
			box-shadow: 0px 0px 2px 0px #676767;
		}
		.bg-container {
			padding: 4px;
			padding-bottom: 0;
		}
	}
}
.details {
	@extend %c9;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 0.88rem;
	padding-left: 4px;
	i {
		width: 14px;
		margin-right: 2px;
	}
}
.members {
	justify-content: flex-end;
}
/deep/ .member {
	margin-left: 4px;
}
/deep/ .avatar {
	width: 28px;
	height: 28px;
}
/deep/ .label {
	padding: 0 4px;
	height: 16px;
}
.title {
	@extend %c3;
	margin-bottom: 4px;
	font-weight: bold;
}