.bg {
	background-color: rgba(0,0,0,.5);
	background-image: url(../assets/plane.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 4px;
	height: 160px;
}
.card {
	@extend %c8c;
	max-width: 820px;
}
.wrapper {
	background-color: #EDEFF0;
	border-radius: 4px;
	padding: 12px 20px;
}
.container {
	display: flex;
	align-items: flex-start;
}
.main {
	margin-right: 20px;
}
.side {
	min-width: 168px;
}
@media (max-width: 800px) {
	.container {
		display: block;
	}
	.main {
		margin: unset;
	}
}
//////////////////////////////////////////////////////////////////////
/deep/ .mi {
	justify-content: unset;
	min-width: 25px;
	margin-right: 4px;
}
/deep/ .mi, /deep/ .m-title {
	font-size: 1.15rem;
}
.m-section {
	margin-bottom: 32px;
}
/deep/  .header {
	margin-bottom: 8px;
}
/deep/ .tab {
	margin-left: 32px;
}
/deep/ .s-title {
	font-size: .86rem;
	letter-spacing: 0.5px;
}
/deep/  .m-title {
	@extend %c3;
	font-weight: bold;
	letter-spacing: .5px;
	margin-right: 8px;
}
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
.card-location {
	align-items: flex-end;
	margin-left: 40px;
}
.card-title {
	display: flex;
	align-items: flex-start;
	margin-bottom: 4px;
	.mi {
		margin-top: 10px;
	}
	.input {
		font-weight: bold;
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
}
.move-card {
	@extend %text-hover;
	text-decoration: underline;
	margin-right: 10px;
}
/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
.addition-item {
	position: relative;
	margin-bottom: 8px;
}