.header {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.checklist-title {
	flex-grow: 1;
	margin-right: 12px;
	.input {
		font-weight: bold;
		letter-spacing: 1px;
	}
}
.mi, .s-btn {
	margin-top: 8px;
}
.show, .hide {
	margin-right: 12px;
}
.progress {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.percent {
	width: 25px;
	font-size: .8rem;
	margin-right: 6px;
}
.progress-bar {
	@extend %dark-bg;
	width: 100%;
	height: 8px;
	border-radius: 4px;
	overflow: hidden;
}
.percent-bar {
	background-color: #5BA4CF;
	width: 50%;
	&.completed {
		background-color: #61BD4F;
	}
}
.checklists {
	.checklist:last-child {
		margin-bottom: unset;
	}
}
.checklist {
	margin-bottom: 40px;
}
.item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 8px;
	border-radius: 4px;
	&.completed {
		.checkbox {
			border-color: rgba(0,0,0,.2);
			i {
				opacity: unset;
			}
			&:hover i {
				opacity: .5;
			}
			&:active i {
				opacity: .2;
			}
		}
		.input {
			@extend %c8c;
			text-decoration: line-through;
			&:focus {
				@extend %c3;
				text-decoration: unset;
			}
		}
	}
}
.checkbox {
	position: relative;
	background-color: white;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	border: 1px solid transparent;
	border-radius: 3px;
	min-width: 22px;
	height: 20px;
	font-size: .7rem;
	margin: 6px 0;
	box-sizing: border-box;
	i {
		opacity: 0;
	}
	&:hover {
		border-color: rgba(0,0,0,.2);
		.hover {
			@extend %light-bg;
		}
		i {
			opacity: .5;
		}
	}
	&:active {
		.hover {
			@extend %dark-bg;
		}
		i {
			opacity: unset;
		}
	}
}
.drop {
	@extend %text-hover;
	@extend %dark-hover;
	@extend %darker-active;
	border-radius: 2px;
	font-size: .85rem;
	width: 32px;
	height: 32px;
}
.item-title {
	flex-grow: 1;
	margin: 0 6px;
}
.mi {
	margin-left: 2px;
	margin-right: 1px !important;
}