$c8c: #8c8c8c;
$c4d: #4d4d4d;
$c1: #111;
$c3: #333;
$c4: #444;
$c9: #999;
////////////////////////////////////////////////////////////////////////
%c8c {
	color: #8c8c8c;
}
%c4d {
	color: #4d4d4d;
}
%c1 {
	color: #111;
}
%c3 {
	color: #333;
}
%c4 {
	color: #444;
}
%c9 {
	color: #999;
}
////////////////////////////////////////////////////////////////////////
%light-bg {
	background-color: rgba(0,0,0,.05);
}
%dark-bg {
	background-color: rgba(0,0,0,.1);
}
%darker-bg {
	background-color: rgba(0,0,0,.15);
}
////////////////////////////////////////////////////////////////////////
%text-hover {
	&:hover {
		@extend %c3;
	}
}
////////////////////////////////////////////////////////////////////////
%light-hover {
	&:hover {
		background-color: rgba(0,0,0,.05);
	}
}
%dark-hover {
	&:hover {
		background-color: rgba(0,0,0,.1);
	}
}
%darker-hover {
	&:hover {
		background-color: rgba(0,0,0,.15);
	}
}
////////////////////////////////////////////////////////////////////////
%light-active {
	&:active {
		background-color: rgba(0,0,0,.05);
	}
}
%dark-active {
	&:active {
		background-color: rgba(0,0,0,.1);
	}
}
%darker-active {
	&:active {
		background-color: rgba(0,0,0,.15);
	}
}
////////////////////////////////////////////////////////////////////////