%wall {
	border-bottom: 1px solid #d6dadc !important;
}
.dropdown {
	position: absolute;
	top: calc(100% + 5px);
	z-index: 2;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,.4);
	border-radius: 4px;
	padding: 12px;
	width: 305px;
	box-sizing: border-box;
}
/deep/ .dd-title {
	@extend %wall;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -12px;
	margin-bottom: 8px;
}
/deep/ .wall {
	@extend %wall;
	margin: 8px 0;
}
/deep/ .state {
	@extend %c8c;
	user-select: none;
	text-align: center;
	padding: 16px 10px;
	background-color: #e2e4e6;
	border: 1px dashed #c4c9cc;
	border-radius: 3px;
}
.close {
	right: 0;
}
.back {
	left: 0;
}
.close, .back {
	position: absolute;
	width: 40px;
	top: 0;
	&:hover {
		@extend %c4d;
	}
}
.close, .back, /deep/ .dd-title {
	@extend %c8c;
	height: 40px;
}