.labels {
	display: flex;
	flex-wrap: wrap;
	color: white;
	font-weight: bold;
	font-size: 0.88rem;
}
.label {
	display: unset;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #0079BF;
	min-width: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item {
	margin-bottom: 4px;
	margin-right: 4px;
	position: relative;
}
.item, .label {
	max-width: 100%;
}