.drop {
	@extend %c9;
	height: 32px;
	font-size: .85rem;
	width: 32px;
}
.drop, .list {
	border-radius: 4px;
}
.header, .footer, .footer .input {
	margin-bottom: 6px;
}
.footer .input {
	max-height: 140px;
}
.header {
	display: flex;
	align-items: flex-start;
	.input {
		font-weight: bold;
		margin-right: 8px;
	}
}
.add-card, .drop {
	@extend %text-hover;
	@extend %dark-hover;
	@extend %darker-active;
	transition: 0.11s;
}
.add-card {
	@extend %c8c;
	justify-content: unset;
	padding: 12px 8px;
	margin-left: -8px;
	margin-bottom: -6px;
	width: 100%;
	i {
		margin: 0 8px;
	}
	&:hover {
		span {
			text-decoration: underline;
		}
	}
}
.list {
	overflow-x: hidden;
	overflow-y: auto;
	width: 272px;
	background-color: #E2E4E6;
	padding: 0 8px;
	padding-top: 4px;
	margin: 0 4px;
	margin-bottom: 5px;
	box-sizing: border-box;
	max-height: fit-content;
}
.card-item {
	margin-bottom: 8px;
}
.bg-container {
	transition: .1s;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.card {
	&:hover .bg-container {
		box-shadow: 0px 0px 2px 0px #555;
		padding: 6px;
		padding-bottom: 0;
	}
	&:active .bg-container {
		padding: 4px;
		padding-bottom: 0;
	}
}
.bg {
	border-radius: inherit;
	max-width: 100%;
	margin: 0 auto;
}