body {
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
html, body, .app {
	height: 100%;
}
.fab {
	font-weight: normal;
}
p {
	margin: unset;
}
hr {
	border: unset;
	margin: 8px 0;
	border-top: 1px solid #c7c7c7;
}
img {
	display: block;
}
label {
	display: inline-flex;
} 
span {
	display: inline-flex;
} 
html {
	font-size: 14px;
}
textarea {
	display: block;
	min-height: 32px;
	padding: unset;
	outline: unset;
	font: unset;
	border: unset;
}
select {
	display: inline-flex;
	outline: unset;
	font: unset;
}
button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: unset;
	box-sizing: unset;
	text-align: unset;
	color: unset;
	border: unset;
	font: unset;
	margin: unset;
	padding: unset;
	outline: unset;
}
i {
	display: inline-flex !important;
	justify-content: center;
}
input {
	display: inline-flex;
	padding: unset;
	border: unset;
	font: unset;
	outline: unset;
}
a {
	display: inline-flex;
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: unset;
	padding: unset;
}
body {
	background-size: cover !important;
	background-position: center !important;
	overflow: hidden;
	margin: 0;
	:disabled {
		cursor: no-drop;
		background-color: white !important;
		&, * {
			color: #c7c7c7 !important;
		}
	}
	::placeholder {
		color: #8c8c8c;
	}
}