%height {
	height: 32px;
}
%width {
	padding: 0 8px;
}
.navbar, .nav-left, .nav-right, .search, .search-details {
	display: flex;
}
.btn, .nav-input, .search-details button {
	@extend %height;
}
.brand, .search-details {
	position: absolute;
}
.nav-left, .nav-right {
	margin-top: 4px;
}
.navbar, .nav-right {
	align-items: center;
}
.btn, .search {
	background-color: rgba(255,255,255,.3);
}
.item {
	margin: 0px 2px;
}
.navbar {
	justify-content: space-between;
	flex-flow: wrap;
	min-height: fit-content;
	background-color: #0067A3;
	padding: 0 2px;
	padding-bottom: 4px;
}
.brand {
	left: calc(50% - 40px);
	opacity: 0.6;
	display: unset;
	img {
		width: 80px;
	}
	&:hover {
		opacity: unset;
	}
	@media (max-width: 400px) {
		display: none;
	}
}
.nav-right .btn, .search-btn {
	i {
		width: 16px;
	}
}
.btn, .search, .nav-input {
	border-radius: 2px;
	transition: 0.2s;
}
.btn, .search-btn {
	@extend %width;
	color: white;
}
.btn {
	&:hover {
		background-color: rgba(255,255,255,.1);
	}
}
.avatar {
	width: 32px;
	height: 32px;
	vertical-align: top;
}
.boards {
	.btn {
		font-weight: bold;
		i {
			margin-right: 5px;
			font-size: 1.3rem;
		}
	}
}
.search {
	position: relative;
	&:hover {
		background-color: rgba(255,255,255,.5);
	}
}
.nav-input {
	background-color: unset;
	padding-left: 10px;
	width: 12rem;
	&:focus {
		@extend %c4;
		background-color: white;
		min-width: 22rem;
		padding-right: 44px;
		@media (max-width: 1000px) {
			min-width: unset;
		}
	}
	@media (max-width: 750px) {
		display: none;
	}
}
.search-details {
	right: 0;
	.dynamic {
		button {
			@extend %c8c;
			width: 22px;
			&:hover {
				@extend %c4;
			}
		}
		@media (max-width: 750px) {
			display: none;
		}
	}
	@media (max-width: 750px) {
		position: unset;
	}
}