.lineaments, .a-section  {
	flex-wrap: wrap;
}
.a-section, .show-menu {
	margin-top: 8px;
}
.members {
	margin-top: 6px;
}
.item {
	position: relative;
}
.btn, .add-member, .t-members {
	color: white;
	background-color: rgba(0,0,0,.2);
	transition: 0.15s;
	i {
		font-size: .8rem;
	}
	&:hover {
		background-color: rgba(0,0,0,.4);
	}
}
.add-member, .t-members {
	border-radius: 100%;
	width: 28px;
	height: 28px;
}
.privacy, .show-menu {
	.btn {
		i {
			margin-right: 8px;
		}
	}
}
.lineaments {
	margin-right: 10px;
	&, .a-section {
		align-items: center;
	}
}
.t-members {
	font-weight: bold;
	margin-right: 5px;
}
.a-section {
	margin-right: 10px;
	.item {
		margin: 0 2px 2px 0;
	}
}
.show-menu {
	height: fit-content;
	min-width: fit-content;
	.btn {
		span {
			text-decoration: underline;
		}
	}
}
.toolbar {
	justify-content: space-between;
	margin-bottom: 8px;
	padding: 0 8px;
	&, .lineaments, .a-section  {
		display: flex;
	}
}
.title {
	margin-right: 4px;
	font-weight: bold;
	font-size: 1.3rem;
	vertical-align: top;
}
.team {
	.badge {
		background-color: rgba(255,255,255,.3);
		font-size: .8rem;
		padding: 2px 4px;
		border-radius: 8px;
		margin-left: 4px;
	}
}
.wall {
	border-left: 1px solid hsla(0,0%,100%,.2);
	height: 20px;
	border-radius: 20px;
	margin: 0 2px;
}
.btn {
	padding: 4px 10px;
	border-radius: 4px;
	min-height: 28px;
	box-sizing: border-box;
}