.user {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	.avatar {
		width: 50px;
		height: 50px;
		margin-right: 10px;
		/deep/ .initial {
			font-size: 1.2rem;
		}
	}
	.username {
		@extend %c4;
		font-size: 1.2rem;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	.edit-info {
		text-decoration: underline;
	}
	.username, .edit-info {
		&:hover {
			@extend %c1;
		}
	}
	.edit-info, .nickname {
		@extend %c8c;
	}
	.nickname {
		margin: 4px 0;
	}
}