<template>
	<div class="teamDropdown">
		<button type="button" @click="toggle">
			<span class="ml-0">{{value[label]}}</span>
			<i class="fas fa-chevron-down"></i>
		</button>
		<div class="choose-team" v-if="state" v-focus.queue v-click-outside="close" @keyup.esc="close">
			<ul>
				<li v-for="option in lists">
					<a href="#" @click.prevent="select(option)">
						{{option[label]}} 
						<i class="fas fa-check" v-if="value[label] === option[label]"></i>
					</a>
				</li>	
			</ul>
		</div>
	</div>	
</template>

<script>
	export default {
		props: ['options' , 'value' , 'label' , 'default'],
		data() {
			return {
				state: false,
				lists: []
			}
		},
		created(){
			this.lists = this.options.slice()
			this.lists.unshift(this.default)
			this.value[this.label] ? this.$emit('input' , this.value) : this.$emit('input' , this.default)
		},
		watch:{
			state(n){
				this.$emit('toggled')
			}
		},
		methods: {
			select(option){
				this.$emit('input' , option)
				this.state = false
			},
			toggle(){
				this.state = ! this.state
			},
			close(){
				this.state = false
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/options"
</style>