<template>
	<li :class="icon">
		<a href="#" @click.prevent="$parent.$emit('selected' , {name , icon})">
			<div class="header">
				<i class="fas" :class="'fa-' + icon"></i>
				<h4><slot name="title"></slot></h4>
				<i class="fas fa-check" v-if="$parent.value.name === name"></i>
			</div>
			<p><slot name="details"></slot></p>
		</a>
	</li>
</template>

<script>
	export default {
		props: ['name' , 'icon']
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/options"
</style>