<template>
	<div class="privacy">
		<button type="button" @click="toggle" ref="trigger">
			<span>
				<i class="fas" :class="'fa-' + value.icon"></i>
				<span>{{value.name}}</span>
			</span>
			<i class="fas fa-chevron-down"></i>
		</button>
		<div class="choose-privacy" v-if="state" v-focus.queue v-click-outside="close" @keyup.esc="close">
			<ul>
				<slot></slot>				
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['value'],
		data(){
			return {
				state : false,
				lists: []
			}
		},
		watch:{
			state(n){
				this.$emit('toggled')
			}
		},
		mounted(){
			this.lists = this.$children
			this.$on('selected' , (value) => {
				this.$emit('input' , value)
				this.state = false
			})
		},
		methods: {
			toggle(){
				this.state = !this.state
			},
			close(){
				this.state = false
			}
		}
	}
</script>

<style lang="scss" scoped>
@import "/imports/ui/sass/packages/dashboard";
@import "/imports/ui/sass/options"
</style>