%flex-layout{
	display: flex;
	justify-content: center;
}

%link-btn{
	color: #298fca;
	text-decoration: underline;
}
.wrapper{
	@extend %flex-layout;
	padding: 4em 1em;
	.content{
		@extend %flex-layout;
		flex-direction: column;
		width: 430px;
		.info{
	    font-size: 18px;
		}
		& > * {
			margin-bottom: 12px;
		} 
		& > h1{
			font-size: 38px;
			font-weight: 900;
		}
		span{
			color: #999;
			a{
				@extend %link-btn
			}
		}
		.alert{
			background: #eb5a46;
			color: #fbedeb;
			font-size: 14px;
			border-radius: 4px;
			padding: .8em 1em;
			margin-bottom: 1.5em;
		}
		form{
			& > * {
				margin-top: 1.6em;
			}
			.input-group{
				label{
					color: #808080;
					display: block;
					margin-bottom: .4em;	
					font-size: 20px;
				}
				input{
					font-size: 20px;
					background: #edeff0;
					border-radius: 4px;
					border: 1px solid #cdd2d4;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: .6em;
					width: 100%;
					color: #717171;
					&:focus{
						border-color: #a5acb0;
						outline: none;
						box-shadow: 0 0 6px #cdd2d4;
					}
					&.error{
						background: #fbedeb;
						border: 1px solid #ec9488;
					}
				}
			}
		}
		.btn{
			display: block;
			margin-bottom: 1.2em;
			font-weight: 900;
			font-size: 20px;
			padding: .6em 1.3em;
			border-radius: 3px;
			text-align: center;
			border: none;
			cursor: pointer;
			font-family: 'Varela Round';
			width: 100%;
			box-sizing:border-box;
			&.green{
				color: white;
				background: #61bd4f;
				box-shadow: 0 2px 0 #3f6f21;
				&:focus{
					outline:none;
				}
				&:active{
					background: #5aac44;
				}
			}
			&.bordered{
				font-size: 16px;
				color: rgba(0,0,0,0.54);
				border: 2px solid #cdd2d4;
				i{
					margin-right: 10px;
				}
			}
		}
		.actions {
			a {
				@extend %link-btn;
			}
		}
	}
}