.boards-router {
	$blue: #0067A3;
	$red: #B04632;
	$green: #519839;
	$orange: #D29034;
	@mixin color($i) {
		background-color: $i;
	}
	@mixin img($i) {
		background: $i;
		.background {
			background-color: rgba(0,0,0,0.1);
		}
		&:hover {
			.background {
				background-color: rgba(0,0,0,0.3) !important;
			}
		}
	}
	.blue {
		@include color($blue)
	}
	.red {
		@include color($red)
	}
	.green {
		@include color($green)
	}
	.orange {
		@include color($orange)
	}
	.img-1 {
		@include img($img-1)
	}
	.img-2 {
		@include img($img-2)
	}
	.img-3 {
		@include img($img-3)
	}
	.img-4 {
		@include img($img-4)
	}
	padding-top: 8px;
	.star.active {
		i {
			position: unset !important;
			color: #ffdd17 !important;
		}
	}
	.section {
		margin-bottom: 16px;
		.section-name {
			i {
				font-size: 1.1rem;
			}
		}
		.boards {
			display: flex;
			margin: 0 -5px;
			flex-wrap: wrap;
			& > li {
				padding: 0 5px;
				margin-bottom: 10px;
				width: 25%;
				height: 100px;
				box-sizing: border-box;
				& > a {
					display: block;
					height: 100%;
					border-radius: 4px;
					.background {
						height: 100%;
						border-radius: 4px;
						padding: 8px;
						box-sizing: border-box;
					}
					&:hover {
						.background {
							background-color: rgba(0,0,0,.2);
						}
					}
				}
			}
			.item {
				overflow: hidden;
				a {
					background-size: cover;
					background-position: 50%;
					.background {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						.board-title {
							color: white;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.star {
							position: relative;
							i {
								@extend %centered-flex;
								margin-left: auto;
								transition: 0.1s;
								font-size: 14px;
								width: 18px;
								height: 18px;
								position: absolute;
								bottom: 0;
								right: -30px;
								color: $light-grey;
								&:hover {
									font-size: 16px;
									color: white;
								}
								&:active {
									color: #ffdd17;
								}
							}
						}
					}
					&:hover {
						.star {
							i {
								right: 0;
							}
						}
					}
				}
			}
			.create-board {
				& > a {
					background-color: #e2e4e6;
					color: $grey-dark;
					.background {
						@extend %centered-flex;
					}
					&:hover {
						color: $black;
					}
				}
			}
		}
		&.teams {
			.team {
				margin-bottom: 16px;
				.header {
					display: flex;
					margin-bottom: 16px;
					a {
						display: flex;
						align-items: center;
						padding: 6px 12px;
						background-color: #EDEFF0;
						color: $grey-dark;
						border-radius: 4px;
						margin: 0 4px;
						i {
							margin-right: 5px;
						}
						@extend .d-hover-color;
						&:hover {
							span {
								text-decoration: underline;
							}
						}
					}
					.section-name {
						margin-bottom: 0;
						margin-right: 15px;
						i {
							margin-right: 6px;
						}
					}
				}
			}
			.create-team {
				position: relative;
				padding-top: 16px;
				a {
					color: $grey-dark;
					text-decoration: underline;
					padding: 10px 14px;
					@extend .d-hover-color;
				}
				.create-team-dropdown {
					// bottom: 0px;
					top: 0;
				}
			}
		}
	}
}