.create-team-dropdown {
	@extend %dropdown;
	@extend %dropdown-header;
	color: $grey-dark;
	width: 300px;
	.dropdown-content {
		form {
			input, textarea {
				@extend %input;
			}
			textarea {
				min-height: 80px;
			}
			label {
				display: block;
				margin-bottom: 8px;
			}
			button {
				border-radius: 3px;
				font-weight: bold;
				padding: 6px 24px;
				line-height: 20px;
				background-color: #5AAC44;
				color: white;
				margin: 0 10px;
				transition: 0.2s;
				&:hover {
					background-color: darken(#5AAC44, 8%)
				}
				&:active {
					background-color: darken(#5AAC44, 20%)
				}
			}
			.division {
				padding: 10px;
			}
		}
	}
}