$blue: #1aabff;
$red: #B04632;
$green: #519839;
$orange: #D29034;
@mixin color($i) {
	background-color: $i;
}
@mixin img($i) {
	background: $i;
}
.blue {
	@include color($blue)
}
.red {
	@include color($red)
}
.green {
	@include color($green)
}
.orange {
	@include color($orange)
}
.img-1 {
	@include img(img-1)
}
.img-2 {
	@include img(img-2)
}
.img-3 {
	@include img(img-3)
}
.img-4 {
	@include img(img-4)
}
::placeholder{
	color: white;
}
body {
	// overflow: hidden;
	.create-board-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		background-color: rgba(0,0,0,.8);
		.content {
			padding-top: 50px;
			display: flex;
			width: max-content;
			margin: 0 auto;
			& > * {
				height: max-content;
			}
			.the-background {
				@extend .blue;
				background-size: cover;
				background-position: 50%;
				position: relative;
				width: 350px;
				margin-right: 8px;
				border-radius: 4px;
				button {
					border-radius: 4px;
				}
				.inputs {
					background-color: rgba(0,0,0,.3);
					padding: 10px;
					padding-bottom: 4px;
					form {
						margin-bottom: 2px;
						margin-right: 40px;
						input {
							width: 100%;
							color: white;
							font-weight: bold;
							font-size: 16px;
							background-color: transparent;
							border-radius: 3px;
							padding: 8px 6px;
							outline: 0;
							&:hover {
								background: hsla(0,0%,100%,.15);
							}
							&:focus {
								background: hsla(0,0%,100%,.3);
							}
						}
						button {
							position: absolute;
							left: 0;
							top: 100%;
							font-weight: bold;
							padding: 8px 16px;
							background-color: #5AAC44;
							color: white;
							transition: 0.2s;
							margin-top: 10px;
							&:hover {
								background-color: darken(#5AAC44, 8%)
							}
							&:active {
								background-color: darken(#5AAC44, 20%)
							}
							&:focus {
								background-color: darken(#5AAC44, 25%)
							}
						}
					}
					.options {
						button {
							@extend %centered-flex;
							color: white;
							background-color: transparent;
							padding: 4px 8px;
							margin-bottom: 1px;
							font-size: 14px;
							span {
								margin: 0 5px;
							}
							i {
								font-size: 12px;
								width: 20px;
								text-align: center;
							}
							.lock, .globe {
								margin: 0
							}
							&:hover {
								background: hsla(0,0%,100%,.15);
							}
							&:active {
								background: hsla(0,0%,100%,.3);
							}
						}
						.teamDropdown {
							position: relative;
						}
						.choose-team, .choose-privacy {
							@extend %dropdown;
							a {
								color: black;
								font-weight: bold;
								@extend %a-blue-hover;
								i{
									margin: 0 5px;
								}
							}
							left: 0;
							width: 300px;
							padding: 10px 0;
							z-index: 2;
						}
						.team {
							position: relative;
							.choose-team {
								a {
									line-height: 20px;
								}
							}
						}
						.privacy {
							position: relative;
							.choose-privacy {
								.header {
									display: flex;
									align-items: center;
									i {
										font-size: 12px;
										width: 20px;
										text-align: center;
									}
									.fa-lock {
										color: #eb5a46;
										margin-right: 8px;
									}
									.fa-globe {
										color: #61bd4f;
										margin-right: 8px;
									}
									.fa-check {
										color: $grey-dark;
										margin-left: 8px;
										display: none;
									}
								}
							}
							&.private {
								button {
									.globe {
										display: none !important;
									}
								}
								.choose-privacy {
									.lock {
										.fa-check {
											display: unset !important;
										}
									}
								}
							}
							&.public {
								button {
									.lock {
										display: none !important;
									}
								}
								.choose-privacy {
									.globe {
										.fa-check {
											display: unset !important;
										}
									}
								}
							}
						}
					}
					.cancel {
						a{
							@extend %centered-flex;
							position: absolute;
							right: 0;
							top: 0;
							margin-top: 5px;
							margin-right: 5px;
							width: 20px;
							height: 20px;
							color: white;
							cursor: pointer;
							&:hover{
								color: darken(#fff , 16%)
							}
						}
					}
				}
			}
		}
	}
}