.dashboard {
	.dashboard-content {
		display: flex;
		width: 1020px;
		padding-top: 40px;
		margin: 0 auto;
		& /deep/ .section-name {
			display: flex;
			align-items: center;
			margin-bottom: 16px;
			i, span {
				color: $grey-dark;
			}
			i {
				font-size: 12px;
				width: 25px;
			}
		}
		& > * {
			margin-top: 30px;
		}
		.sidebar {
			@extend %color-grey-dark;
			position: sticky;
			top: 70px;
			width: 230px;
			height: max-content;
			z-index: 1;
			margin-left: 10px;
			.section {
				margin-bottom: 20px;
				.link {
					display: flex;
					align-items: center;
					margin-bottom: 4px;
					padding: 8px;
					i {
						margin-right: 8px;
						width: 20px;
						text-align: center;
					}
					@extend .d-hover-color;
				}
				&.teams {
					.section-name {
						margin-bottom: 10px;
					}
					.team {
						.link {
							i {
								font-size: 12px;
							}
						}
					}
					.create-team {
						position: relative;
						padding-top: 5px;
					}
				}
			}
		}
		.routers {
			padding-left: 50px;
			width: 0px;
			flex-grow: 1;
			height: max-content;
			& > * {
				padding-bottom: 20px;
			}
		}
	}
}