#wrapper{
	font-size: 20px;
	line-height: 1.5;
	p{
		margin: 1em 0em;
		color: #4d4d4d;
	}
	h2{
		line-height: 1.25;
		margin: 1.3rem 0;
	}
	.btn{
		background-color: #fff;
		box-shadow: 0 1px rgba(149,157,161,0.3);
		color: black;
		border-radius: .4em;
		display: inline-block;
		font-size: .8em;
		line-height: 1.1em;
		margin: 0 .25em;
		padding: .7em 1.3em;
		&:hover{
			background: rgba(255,255,255,0.7);
			box-shadow: 0 1px rgba(149,157,161,0.2);
		}
		&:active{
			background: rgba(255,255,255,0.5);
			box-shadow: 0 1px rgba(149,157,161,0.1);
		}
		&.btn-green{
			color: #fff;
			background: linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%);
			box-shadow: 0 2px 0 #3F6F21;
			font-weight: bold;
			&:hover{
				background: linear-gradient(to bottom, #5AAC44 0, #519839 100%);
			}
			&:active{
				background: linear-gradient(to bottom, #519839 0, #49852E 100%);
			}
		}
		&.btn-grey{
			background-color: #E2E4E6;
			box-shadow: 0 2px 0 #CDD2D4;
			color: #4d4d4d;
			&:hover{
				background-color: #D6DADC;
				box-shadow: 0 2px 0 #C4C9CC;
			}
			&:active{
				background-color: #CDD2D4;
				box-shadow: 0 2px 0 #B6BBBF;
			}
		}
		&.btn-link{
			color: #298FCA;
			text-decoration: underline;
			background: none;
			box-shadow: none;
			padding: 0;
			margin: 0;
			font-size: 1em;
		}
	}
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em .75em;
		background-color: #F8F9F9;
		height: 2em;
		.brand{
			opacity: .3;
			img{
				height: 2em;
				vertical-align: middle;
			}
		}
	}
	.section{
		padding: 3em 1em;
		.content{
			display: flex;
			align-items:center;
			flex-direction: column;
			margin: 0 auto;
			text-align: center;
			max-width: 1000px;
		}
	}
	.apps-section{
		background-color: #BCD9EA;
		.content{
			display: flex;
			flex-direction: row;
			text-align: left;
			justify-content: center;
			img{
				margin-right: 2em;
			}
			.content-right{
				display: flex;
				flex-direction: column;
				p{
					margin-bottom: 2em;
				}
				a{
					width: max-content;
				}
			}
		}
	}
	.share-section{
		background-color: #F5EA92;
	}
	.game-section{
		background-color: #0079BF;
		color: white;
		a.btn-link{
			color: #fff;
			opacity: .8;
		}
	}
}