.home-router {
	display: flex;
	justify-content: space-between;
	& > * {
		height: max-content;
		padding-top: 8px;
	}
	.timeline {
		width: 360px;
		.timeline, .header-container {	
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
			margin-bottom: 16px;
		}
	}
	.left-bar {
		position: sticky;
		top: 50px;
		width: 280px;
		& > * {
			margin-bottom: 30px;
		}
		.link {
			display: flex;
			align-items: center;
			border-radius: 4px;
			padding: 8px;
			& > :first-child {
				border-radius: 4px;
				margin-right: 8px;
				width: 32px;
				height: 28px;
			}
			@extend .d-hover-color;
		}
		.create {
			color: $grey-dark;
			i {
				@extend %centered-flex;
				box-shadow: 0 2px 0 -1px #B6BBBF;
			}
			&:hover {
				i {
					background-color: $grey;
				}
			}
		}
	}
}