/deep/ body {
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
/deep/ html, /deep/ body, /deep/ .app {
	height: 100%;
}
/deep/ .fab {
	font-weight: normal;
}
/deep/ p {
	margin: unset;
}
/deep/ hr {
	border: unset;
	margin: 8px 0;
	border-top: 1px solid #c7c7c7;
}
/deep/ img {
	display: block;
}
/deep/ label {
	display: inline-flex;
} 
/deep/ span {
	display: inline-flex;
} 
/deep/ html {
	font-size: 14px;
}
/deep/ textarea {
	display: block;
	min-height: 32px;
	padding: unset;
	outline: unset;
	font: unset;
	border: unset;
}
/deep/ select {
	display: inline-flex;
	outline: unset;
	font: unset;
}
/deep/ button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: unset;
	box-sizing: unset;
	text-align: unset;
	color: unset;
	border: unset;
	font: unset;
	margin: unset;
	padding: unset;
	outline: unset;
}
/deep/ i {
	display: inline-flex !important;
	justify-content: center;
}
/deep/ input {
	display: inline-flex;
	padding: unset;
	border: unset;
	font: unset;
	outline: unset;
}
/deep/ a {
	display: inline-flex;
	text-decoration: none;
}
/deep/ ul {
	list-style-type: none;
	margin: unset;
	padding: unset;
}
/deep/ body {
	background-size: cover !important;
	background-position: center !important;
	// overflow: hidden;
	margin: 0;
	/deep/ :disabled {
		cursor: no-drop;
		background-color: white !important;
		/deep/ &, /deep/ * {
			color: #c7c7c7 !important;
		}
	}
	/deep/ ::placeholder {
		color: #8c8c8c;
	}
}