.message{
	background-color: #2fe076;
	color: white;
	font-size: 14px;
	border-radius: 5px;
	padding: .8em 1em;
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #22c363;
	line-height: 1.4rem;
	i {
		margin-right: 15px;
	}
}
.loading{
	background-color: #e2e4e6 !important;
	box-shadow: none !important;
}