$light-blue: #4E97C1;
%centered-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar {
	&.sticky-mode{
		padding-left: 290px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: wrap;
	padding: 4px 2px;
	background-color: #026AA7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	right: 0;
	.brand {
		position: absolute;
		left: calc(50% - 40px);
		img {
			width: 80px;
			height: 30px;
			display: block;
		}
		opacity: 0.5;
		&:hover {
			opacity: 0.9;
		}
	}
	.nav-left, .nav-right {
		display: flex;
		& > li {
			margin: 0px 2px;
			& > a {
				display: block;
				border-radius: 2px;
				background-color: $light-blue;
				transition: 0.2s;
				color: white;
				&:hover {
					background-color: darken($light-blue, 7%);
				}
				& > i {
					@extend %centered-flex;
					width: 32px;
					height: 32px;
				}
			}
		}
	}
	.nav-right {
		.user {
			@extend %centered-flex;
			width: 32px;
			height: 32px;
			background-color: #D6DADC;
			border-radius: 100%;
			color: black;
			font-size: 13px;
			font-weight: bold;
			&:hover {
				background-color: darken(#D6DADC, 10%)
			}
		}
		.create-dropdown {
			@extend %dropdown;
			@extend %dropdown-header;
			a {
				@extend %a-blue-hover;
			}
			right: 0;
			width: 320px;
		}
		.info-dropdown {
			@extend %dropdown;
			@extend %dropdown-header;
			@extend %color-grey-dark;
			right: 0;
			width: 400px;
			.content {
				padding: 0 10px;
				a {
					display: block;
					@extend .d-hover-color;
				}
				.trello-guide {
					img {
						width: 100%;
					}
					h4 {
						text-align: center;
						padding: 5px 15px;
						padding-bottom: 25px;
					}
				}
				.new-tip {
					text-align: center;
					padding: 7px 0;
					text-decoration: underline;
				}
			}
			.footer {
				padding: 0 10px;
				display: flex;
				justify-content: space-around;
				a {
					@extend .d-hover-color;
					display: block;
					text-decoration: underline;
					padding: 6px 10px;

				}
			}
		}
	}
	.nav-left {
		.boards-item {
			& > a {
				display: flex;
				span {
					@extend %centered-flex;
					font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
					margin-right: 10px;
					font-size: 14px;
					margin-bottom: -1px;
					font-weight: bold;
				}
			}
		}
		.search {
			position: relative;
			display: flex;
			input {
				background-color: $light-blue;
				border-radius: 2px;
				border: none;
				outline: 0;
				color: white;
				padding-left: 10px;
				width: 180px;
				font-family: 'Varela Round', sans-serif;
				transition: all 0.2s;
		    height: 32px;
				&:hover {
					background-color: lighten($light-blue, 10%);
				}
				&:focus {
					background-color: white;
					color: black;
					min-width: 16em;
					padding-right: 44px;
				}
			}
			div {
				display: flex;
				position: absolute;
				right: 0;
				a{
					color: #777;
					i {
						@extend %centered-flex;
						cursor: pointer;
						width: 32px;
						height: 32px;
					}
				}
			}
			.fa-share-square, .fa-times {
				width: 22px;
			}
			.fa-search {
				color: white;
			}
		}
	}
}