.options {
	button {
		@extend %centered-flex;
		color: white;
		background-color: transparent;
		padding: 4px 8px;
		margin-bottom: 1px;
		font-size: 14px;
		&:focus{
			background-color: rgba(0, 0, 0, 0.17);
		}
		span {
			margin: 0 5px;
		}
		i {
			font-size: 12px;
			width: 20px;
			text-align: center;
		}
		.lock, .globe {
			margin: 0
		}
		&:hover {
			background: hsla(0,0%,100%,.15);
		}
		&:active {
			background: hsla(0,0%,100%,.3);
		}
	}
	.teamDropdown {
		position: relative;
	}
	.choose-team, .choose-privacy {
		@extend %dropdown;
		a {
			color: black;
			font-weight: bold;
			@extend %a-blue-hover;
			i{
				margin: 0 5px;
			}
		}
		left: 0;
		width: 300px;
		padding: 10px 0;
		z-index: 2;
	}
	.team {
		position: relative;
		.choose-team {
			a {
				line-height: 20px;
			}
		}
	}
	.privacy {
		position: relative;
		button {
			&:focus{
				background: rgba(0, 0, 0, 0.17);
			}
		}
		.choose-privacy {
			.header {
				display: flex;
				align-items: center;
				i {
					font-size: 12px;
					width: 20px;
					text-align: center;
				}
				.fa-lock {
					color: #eb5a46;
					margin-right: 8px;
				}
				.fa-globe {
					color: #61bd4f;
					margin-right: 8px;
				}
				.fa-user-friends {
					color: #737373;
				}
				.fa-check {
					color: $grey-dark;
					margin-left: 8px;
				}
			}
		}
		&.private {
			button {
				.globe {
					display: none !important;
				}
			}
			.choose-privacy {
				.lock {
					.fa-check {
						display: unset !important;
					}
				}
			}
		}
		&.public {
			button {
				.lock {
					display: none !important;
				}
			}
			.choose-privacy {
				.globe {
					.fa-check {
						display: unset !important;
					}
				}
			}
		}
	}
}