.boards-dropdown {
	&.sticky {
		left: 0;
		top: 0;
		height: 1000px;
		border-radius: 0;
		z-index: 3;
		.header{
			background-color: #e2e4e6;
	    padding: 11px 13px;
	    color: black;
		}
	}
	$blue: #439CCF;
	$red: #C57667;
	$green: #7ACF91;
	$orange: #DDAC69;
	@mixin color($i) {
		.color {
			background-color: $i;
		}
		.board-title {
			background-color: lighten($i, 30%);
		}
		&:hover {
			.color {
				background-color: darken($i, 7%)
			}
			.board-title {
				background-color: darken(lighten($i, 30%), 5%)
			}
		}
	}
	@mixin img($i) {
		.color {
			background: $i;
			.hover {
				background-color: rgba(0,0,0,0.3);
			}
		}
		.board-title {
			background: $i;
			.hover {
				background-color: rgba(255,255,255,0.95);
			}
		}
		.star {
			color: $grey-darkest;
		}
		&:hover {
			.color {
				.hover {
					background-color: unset;
				}
			}
			.board-title {
				.hover {
					background-color: rgba(255,255,255,0.7);
				}
			}
		}
	}
	.blue {
		@include color($blue)
	}
	.red {
		@include color($red)
	}
	.green {
		@include color($green)
	}
	.orange {
		@include color($orange)
	}
	.img-1 {
		@include img($img-1)
	}
	.img-2 {
		@include img($img-2)
	}
	.img-3 {
		@include img($img-3)
	}
	.img-4 {
		@include img($img-4)
	}
	@extend %dropdown;
	@extend %color-grey-dark;
	position: fixed !important;
	top: 40px;
	// bottom: 0;
	left: 0;
	width: 290px;
	.content {
		max-height: 888px;
		padding: 8px;
		padding-right: 17px;
		.search {
			@extend %input;
			margin-bottom: 10px;
		}
		.starred {
			.star {
				&.active{
					right: 0 !important;
				}
				.fa-star {
					color: #b8a300 !important;
					font-size: 14px;
					&:hover {
						color: $grey-darker !important;
					}
				}
			}
		}
		.section {
			margin-bottom: 5px;
			.section-name {
				display: flex;
				align-items: center;
				padding-left: 10px;
				margin-bottom: 2px;
				span {
					font-size: .9em;
				}
				i {
					font-size: .9em;
				}
				i:first-child {
					margin-right: 5px;
					width: 20px;
					text-align: center;
				}
				.fas {
					margin-left: auto;
					padding: 10px;
					cursor: pointer;
					@extend .d-hover-color;
				}
			}
			ul {
				li {
					margin-bottom: 4px;
					a {
						display: flex;
						align-items: center;
						position: relative;
						overflow: hidden;
						.color {
							width: 36px;
							height: 36px;
							border-radius: 3px 0 0 3px;
						}
						.board-title {
							width: 0px;
							flex-grow: 1;
							.hover {
								padding: 10px;
								padding-left: 8px;
								padding-right: 40px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						.color, .board-title {
							background-size: cover;
							background-position: 50%;
						}
						.star {
							transition: right;
							position: absolute;
							right: -40px;
							display: flex;
							margin-right: 5px;
							transition: 0.1s;
							&.active {
								right: 0 !important;
								color: #b8a300 ;
							}
							i {
								@extend %centered-flex;
								width: 20px;
								height: 20px;
								font-size: 14px;
								transition: 0.1s;
								&:hover {
									color: black;
								}
								&.fa-star {
									&:active {
										color: #ffdd17;
									}
								}
								&.fa-times {
									&:active {
										color: #f02600;
									}
								}
							}
						}
						.hover {
							height: 100%;
						}
						&:hover {
							.star {
								right: 0;
							}
						}
					}
				}
			}
		}
		.teams {
			.section-name {
				a {
					span {
						text-decoration: underline;
					}
					&:hover {
						i {
							color: $black;
						}
					}
				}
			}
		}
		.footer {
			padding-top: 20px;
			a {
				display: block;
				text-decoration: underline;
				padding: 10px 12px;
				margin-bottom: 2px;
				@extend .d-hover-color;
			}
		}
	}
}