%aligning {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
}
%img-shadow {
	& > img {
		box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
	}
}
%fancy-section{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	& > div {
		display: flex;
		flex-direction: column;
		align-items: start;
		max-width: 720px;
		* {
			margin: 15px 0px;
		}
		@media (max-width: 1280px) {
			padding: 0px 15px !important;
			margin: 0px !important;
			margin-bottom: 30px !important;
		}
	}
	@media (max-width: 1280px) {
		display: flex;
		flex-direction: column;
	}
}

.wrapper{
	color: white;
}
.navbar {
	background-color: #0079BF;
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	.brand{
		.logo{
			width: 130px;
			height: 40px;
		}
		&:hover {
			opacity: 0.5;
		}
	}
	.log-sign {
		display: flex;
		a {
			margin: 0 7px;
		}
	}
}
.section-1 {
	@extend %aligning;
	background: linear-gradient( rgba(0, 121, 191 , .9) ),
	url(http://www.polycom.com/content/dam/polycom/www/your-workspace/images/workspaces/conference-media-align/conference-medialign-background.jpg) center left no-repeat;
	background-size: 100%;
	padding: 50px 20px;
	& > * {
		margin: 20px 0px;
	}
	.login {
		a {
			color: #fff;
			opacity: .8;
			text-decoration: underline;
		}
	}
}
.section-2 {
	@extend %aligning;
	@extend %img-shadow;
	position: relative;
	background-color: #315989;
	padding: 50px 20px 0 20px;
	& > * {
		margin: 20px 0;
	}
	& > img {
		max-width: 1000px;
		margin-bottom: -20px;
	}
	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		* {
			margin: 15px 0;
		}
		position: absolute;
		background: rgba(37,66,109,0.9);
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0;
		padding: 15px;
	}
}
.section-3 {
	@extend %aligning;
	@extend %img-shadow;
	background: linear-gradient(0deg, #f06e47, #ffab4a);
	padding: 20px 20px 0 20px;
	& > * {
		margin: 13px;
	}
	& > img {
		max-width: 600px;
		margin-bottom: 0px;
	}
	padding-top: 20px;
}
.section-4 {
	@extend %fancy-section;
	@extend %img-shadow;
	padding-top: 50px;
	background-color: #EB5A46;
	& > div {
		margin-right: 40px;
		padding-left: 10rem;
	}
	& > img {
		margin-bottom: -2rem;
		margin-right: -14rem;
		@media (max-width: 1280px) {
			margin: 0;
		}
	}
}
.section-5 {
	@extend %fancy-section;
	background-color: #7B8FD1;
	padding-top: 50px;
	& > div {
		margin-left: 40px;
		padding-right: 10rem;
	}
	& > img {
		max-width: 500px;
	}
}
.section-6 {
	@extend %fancy-section;
	background-color: #29CCE5;
	& > div {
		position: absolute;
		margin-left: -8rem;
	}
	& > img {
		margin-top: -5rem;
		@media (max-width: 1280px) {
			margin-bottom: -15rem;
			width: 720px;
		}
	}
	@media (max-width: 1280px) {
		padding: 8rem 0px !important;
	}
}
.footer {
	@extend %aligning;
	padding: 40px 20px;
	color: #4D4D45;
	& > * {
		margin: 15px 0;
	}
	.login {
		margin-bottom: 5rem;
		a {
			color: #298fca;
			text-decoration: underline;
		}
	}
	.btn-green {
		font-size: 18px;
	}
}